[2019-02-13 09:29] Obimka opened #1 "Bug Python3 : Can't iterate on a dict in all_roles.keys"
File : rbac/default_role_manager/role_manager.py
Line : 15~16
[code]

Error : In python3 you can't iterate on a dict

Fix :
[code]

[2019-02-13 09:51] Obimka commented on #1
Seems that the same problem appears in other functions

[2019-02-13 10:26] techoner commented on #1
I am not sure if there is such a problem, after all, our test cases are not comprehensive.
But still passed the test.

[2019-02-13 11:11] hsluoyz commented on #1
@Obimka this project is recently developed and totally based on Python 3. Can you provide a simple but self-contained example to show your error?

[2019-02-14 07:59] Obimka commented on #1
Here is a part of logs from my project:
`
2019-02-12T15:38:46.305528204+01:00 2019-02-12 15:38:46,303 - ERROR - ApplicationError: ApplicationError(error=<zephir.error.exception>, args=[], kwargs={'reason': "unhashable type: 'dict'"}, enc_algo=None): Traceback (most recent call last):
2019-02-12T15:38:46.305585251+01:00   File "/usr/lib/python3/dist-packages/zephir/wamp/register.py", line 105, in w

[2019-02-14 08:53] duanpier commented on #1
You can open the log by passing the third parameter through the Enforcer.

rbac_model.conf:
[code]
rbac_policy.csv:
[code]
**code bellow**:
[code]
then run the code:
[code]

[2019-02-14 09:32] Obimka commented on #1
I'll give it another try as soon as possible and report with some more informations.

[2019-02-27 05:10] #1 closed

[2019-02-27 19:47] agosto-calvinbehling opened #5 "pip cannot find casbin"
There's an issue with the pypi repository.
[code]

[2019-02-28 02:48] techoner commented on #5
Requires: Python >=3.6

[2019-02-28 04:24] agosto-calvinbehling commented on #5
Yep that was the issue. Thanks.

[2019-02-28 04:24] #5 closed

[2019-03-11 08:36] yqluo243899640 opened #6 "When i use the pycasbin example in my pycharms , it point out that i don't hava the method"
As the title , it point out that i don't have the method  e.get_roles('alice'), what happen whit this?If it's convenient for you, please answer me ,or can you provide a complete example of pycasbin ? Thankyou!

[2019-03-11 12:08] techoner commented on #6
Indeed, it does not support it for the time being.

[2019-03-11 12:17] yqluo243899640 commented on #6
Thankyou for your answer~ I will continuous attention it.

[2019-03-11 12:17] #6 closed

[2019-03-11 20:26] hsluoyz commented on #6
@techoner I think we should support it as more and more people start to use PyCasbin.

[2019-03-12 04:44] techoner commented on #6
That's what I was thinking too.

[2019-03-29 14:14] sjchristian opened #8 "Enabling log on Enforcer when passing objects as parameters causes TypeError"
The logging code currently assumes all parameters are strings, when passing objects (for instance when using ABAC) an error is raised:

[code]

[2019-03-29 14:27] hsluoyz commented on #8
Nice fix. Thanks for the PR!

[2019-03-29 14:27] #8 closed

[2019-06-04 14:25] hong6234 opened #12 "AttributeError: 'Model' object has no attribute 'add_policy'"
[code]
output:
[code]

[2019-06-04 14:37] hsluoyz commented on #12
@techoner

[2019-06-05 16:02] techoner commented on #12
@hong6234  Please update to v0.5 version.

[2019-06-05 16:10] hsluoyz opened #13 "Should use Semantic Versioning (x.x.x) for PyCasbin"
Hi @techoner , currently, we use ``0.5``, ``0.4`` versions. This is not the best practice. We should follow the [Semantic Versioning](https://semver.org/), simply ``MAJOR.MINOR.PATCH``. So it should be ``0.5.0`` instead of ``0.5``. I found most of the packages in: https://pypi.org follow this design.

I think we can do this for next release.

[2019-06-05 16:30] techoner commented on #13
I just think that when the minor version number is 0, it can be omitted.

[2019-06-05 16:33] hsluoyz commented on #13
Better not, you can see the Pytorch package, one of the most famous machine learning frameworks: https://pypi.org/project/torch/#history. They have ``v0.4.0``, ``v1.0.0``, etc.

[2019-06-05 16:34] #13 closed

[2019-06-06 02:45] hong6234 commented on #12
Thank you, it works.

[2019-06-06 03:46] #12 closed

[2019-06-10 14:52] pythonmobile opened #14 "Running tests and coverage"
I tried using py.test but get module not found errors. Can you please let me know how I can run tests and see coverage?

[2019-06-11 00:00] techoner commented on #14
It uses unittest and coverage.

[2019-06-12 09:35] frank065 opened #15 "Queries become very slow after I added 30000+ policies"
I'm using pycasbin, with sqlalchemy-adapter as adapter. Policies are stored in mysql.
When I'm testing, with about 20 policies. everything is perfect.
After I stored 30000+ policies in mysql, queries become very slow, about 3-4 seconds per query.

Here is the example code.

[code]

[2019-06-15 06:52] hsluoyz commented on #15
Hi @frank065 , Sqlalchemy is very slow to load 30000+ policy rules. You can use other ORMs like peewee to speed up. Can you contribute a Peewee adapter for Casbin?

[2019-06-18 02:09] #14 closed

[2019-06-27 18:24] zhaoyongjie commented on #15
@frank065 you can try mysqlclient for SQLAlchemy dialect driver instand of pymysql.  pymysql is a python  implement, performance is little worse.

[2019-06-28 02:00] hsluoyz commented on #15
@zhaoyongjie Thanks for the solution! Closed as resolved.

[2019-06-28 02:00] #15 closed

[2019-07-01 18:32] frank-jpg opened #16 "module 'casbin' has no attribute 'Enforcer'"
I am getting the following error while executing the code.
![image](https://user-images.githubusercontent.com/52424778/60458431-742d6100-9bf3-11e9-9ef3-9b3232a399cd.png)

My code snippet:
![image](https://user-images.githubusercontent.com/52424778/60458576-d9815200-9bf3-11e9-803c-ee4b31866581.png)

[2019-07-01 23:30] hsluoyz commented on #16
Hi @frank-jpg , it seems that you are using ``casbin.py`` as the source file name. This will shadow Casbin owing to package name conflict. Please rename your ``.py`` file into anything else like ``test_casbin.py`` and it should get fixed.

[2019-07-01 23:30] #16 closed

[2019-07-03 02:35] shblhy opened #17 "casbin use global logging settings"
A bug for pycasbin:
If one use  ``import casbin``, he changed his logging config, which is not expected.
The code is in pycasbin/log/default_logger:

https://github.com/casbin/pycasbin/blob/cddd622fcb2025174cec8fe790cb702fde820371/casbin/log/default_logger.py#L1-L4

[2019-07-03 03:47] hsluoyz commented on #17
Hi @shblhy , can you make a PR to fix it? like using a local logging setting in Casbin?

[2019-07-04 03:23] #17 closed

[2019-07-10 17:36] asyncee opened #19 "Is really production ready?"
Hello, I have read the sources and have few questions.

1. Is this project really production ready? I have found hard coded effect expressions in different parts of source code. I thought that it is implemented using some dsl interpretation but there are at most 4 cases that can be used as effects (see effectors module). That looks very strange to me.

2. The official paper https://arxiv.org/pdf/1

[2019-07-11 09:32] hsluoyz commented on #19
Hi @asyncee ,

It's true that effect is designed to be DSL. But in the code we go with hard-coded cases for now. Because current implementation is already enough to use for most cases. We will eventually go to DSL if there are more user requirements about it.

The paper is just for reference. The final open-source implementation doesn't exactly follow the paper. The paper only shows how Casbin wor

[2019-07-11 10:15] asyncee commented on #19
Thank you for detailed answer. I’ll consider making a PR.

[2019-07-11 10:15] #19 closed

[2019-07-16 15:45] Rydra opened #22 "Are implicit getters implemented?"
Hi,
I have a use case where I need to obtain all the implicit roles of a user. As per casbin documentation, this operation is [GetImplicitPermissionsForUser()](https://casbin.org/docs/en/rbac-api#getimplicitpermissionsforuser). However, I cannot find the python counterpart of this function in the source code. Is this method implemented?

Thanks!

[2019-07-16 15:55] hsluoyz commented on #22
Hi @Rydra , do you need ``GetImplicitRolesForUser()`` or ``GetImplicitPermissionsForUser()``? Both of them are not yet implemented in PyCasbin. But we can port it from Golang Casbin into PyCasbin.

[2019-07-16 18:25] Rydra commented on #22
Yes, I would need both. I need to empower a SPA application with the permissions and roles from the backend. For that I have a /api/permissions endpoint that supplies all the permissions and roles of the currently logged in user.

[2019-07-18 16:41] nghnam opened #23 "Wrong policy list when add manually"
Model config:

[code]

Code:

[code]

Here is output:

[code]

It shows wrong object list, right list only has `obj1`, and does not has `group1` . And get_all_actions() is failed.

I found problem is in `Assertion` class, which has `policy` attribute. It is class attribute, so it is shared between instances. So when you add policy `p`, it is also added to `g`.
Debug:

[code]

Output:

[code]

[2019-07-19 02:46] techoner commented on #23
#24

[2019-07-19 02:46] #23 closed

[2019-07-19 03:54] nghnam opened #26 "Missing test cases"
https://github.com/casbin/pycasbin/blob/master/.travis.yml#L11

Coverage only run test in 3 files `test_enforcer.py`, `test_management_api.py`, `test_rbac_api.py`, does not run test in sub directories.

 @hsluoyz

[2019-07-19 06:32] hsluoyz commented on #26
Merged: https://github.com/casbin/pycasbin/pull/27

[2019-07-19 06:32] #26 closed

[2019-07-19 06:33] hsluoyz commented on #22
Hi @techoner , can you help implement these two functions?

[2019-08-07 06:07] techoner commented on #22
Hi @Rydra  , It has been implemented in #28 .

[2019-08-07 06:08] #22 closed

[2019-08-21 14:21] aaaaale opened #30 "Performance of pycasbin vs go casbin"
(Please note I had submitted this issue on casbin, and was told to move it to pycasbin, which I am doing verbatim).

We have profiled a simple Casbin enforcement call over an (admittedly abnormally large) policy set. We did this with a go and a python script. The python version takes about 30x the time per enforcement call (1.5 seconds on an i5).

2 things I would like to ask the authors (who sugg

[2019-08-21 15:19] techoner commented on #30
Probably because the expression language is slow to execute, give me some time and I will try to optimize it.

[2019-08-21 15:43] aaaaale commented on #30
That would be great, thank you.
The situation we tested is clearly over-killing, but as we plan on using pycasbin in a fairly complex ecosystem where authorization checks are many and frequent, with a complex model, we need to be 100% certain that we are not committing to a technology that's intrinsically slow.

[2019-08-22 09:07] aaaaale commented on #30
I confirm that the times I get now are dramatically improved, with about 400% speedup (great work). I am still puzzled by the times growing linearly with the number of policy rules, I wonder if this is intrinsic with the model used.

[2019-08-22 09:43] techoner commented on #30
You can try `p.eft` or `deny` priority :
[code]

[2019-08-27 15:33] andersonkxiass opened #31 "Register custom function"
Is it possible to register a custom function in the pycasbin enforcer?

I did some lib code inspection and I'm not sure if it's possible.

https://casbin.org/docs/en/syntax-for-models#how-to-add-a-customized-function

[2019-08-27 15:44] #31 closed, assigned to andersonkxiass

[2019-09-08 15:35] hsluoyz commented on #30
@aaaaale please paste your model and policy here, so we can see if it can be improved.

[2019-09-09 08:36] aaaaale commented on #30
Thank you for looking into this. It's all inside the "perf.zip" file linked in the original question.

[2019-09-09 08:39] hsluoyz commented on #30
Model:

[code]

Policy:

[code]

[2019-09-09 08:40] hsluoyz commented on #30
@aaaaale does the g2 policy have any pattern?

[2019-09-09 09:09] aaaaale commented on #30
Not really. "g2" would be used to assign permissions based on a resource "type" rather than on the specific resource. This is a random generated list of type assignments, but the policies "p" in the test are defined in terms of user and resource directly rather than on types, so "g2" isn't really used here, but we included it as it eventually will.

This is a stress test with random generated poli

[2019-11-07 16:08] jwerardi opened #33 "Rule based on foreign key relationship"
hi,

I have a series of relationships set up like this:

User
id
customer_id

Customer
id
distributor_id

Distributor
id

I have an endpoint like /user/, and I want to restrict users to only be able to see other users whose user.customer.distributor_id is the same as their user.customer.distributor_id

How would I go about setting up a rule for a scenario like this? Is it even possible to abstract

[2019-11-09 03:57] techoner commented on #33
Can be abstracted to ABAC, or it can be ordinary RBAC.

[2019-11-12 12:41] hsluoyz commented on #33
Hi @jwerardi ,

You can write the matcher like: `sub.customer.distributor_id  == obj.customer.distributor_id `, then query all users with the enforce() call.

[2019-12-10 12:31] hameerabbasi opened #36 "Custom RoleManager"
Hello. In [this doc page](https://casbin.org/docs/en/role-managers), the maintainers of Casbin seem to imply that you can choose/write your own `RoleManager` class. However, this [seems to be](https://github.com/casbin/pycasbin/blob/a915dce5d7d0707f98a91c3677ef47a8d6ce6cd2/casbin/core_enforcer.py#L66) hardcoded in. Is there a way to supply a custom class? Can one be made with relative ease?

https

[2019-12-10 12:34] hsluoyz commented on #36
Call `set_role_manager()`: https://github.com/casbin/pycasbin/blob/a915dce5d7d0707f98a91c3677ef47a8d6ce6cd2/casbin/core_enforcer.py#L123

[2019-12-10 12:37] hameerabbasi commented on #36
Does this also assign/create all needed initial roles?

[2019-12-10 12:39] hsluoyz commented on #36
Can you show some code about initial roles?

[2019-12-10 12:44] hameerabbasi commented on #36
[code]

Will `alice` and `bob` make it into roles?

[2019-12-10 12:54] hsluoyz commented on #36
`set_role_manager()` should be called before adding `g` policy rules.

[2019-12-10 12:57] #36 closed

[2019-12-10 13:08] hameerabbasi opened #37 "Assigning custom Role Manager changes enforcement result"
[code]

Fails at `assert e.enforce("alice", "data1", "read")`.

[2019-12-10 13:16] hsluoyz commented on #37
If you don't use `set_role_manager()`, then it's correct?

[2019-12-10 13:22] hsluoyz commented on #37
@techoner

[2019-12-10 13:25] hameerabbasi commented on #37
The following code is correct:

[code]

[2019-12-11 06:11] shizidushu opened #38 "permission is empty for root role user"
[code]

[code]

[code]

I expect `e.get_implicit_permissions_for_user('bob')` to return all permissions defined, but it is empty.

[2019-12-11 06:35] hsluoyz commented on #38
@techoner

[2019-12-11 09:09] zhouchengcom commented on #38
because get_implicit_roles_for_user just return first and second level inherited roles

[2019-12-11 09:17] zhouchengcom commented on #38
def get_implicit_roles_for_user(self, user, domain=None):
        """
            get_implicit_roles_for_user gets implicit roles that a user has.
            Compared to get_roles_for_user(), this function retrieves indirect roles besides direct roles.
            For example:
                g, alice, role:admin
                g, role:admin, role:user

                get_roles_for_user("alice"

[2019-12-11 18:38] benjaminsims opened #39 "Tests are install directly to site-packages rather than within the casbin package"
I ran into this issue because pycasbin was causing problems with test module discovery using pytest.

Running `pip install casbin` then `pip uninstall casbin` illustrates the problem:

[code]

That last line indicates that the tests are being placed directly into site-packages, which is incorrect and causes errors in test discovery.

[2019-12-11 18:45] benjaminsims commented on #39
I've created https://github.com/casbin/pycasbin/pull/40, which removes the tests from setup.py packaging - this solves the problem.

[2019-12-11 23:24] hsluoyz commented on #39
@techoner

[2019-12-12 02:17] techoner commented on #39
LGTM.

[2019-12-12 02:23] #39 closed

[2019-12-12 02:31] techoner commented on #38
@zhouchengcom `get_implicit_permissions_for_user ()` does not use your `matchers` for` enforce () `, it just depends on the policies.

[2019-12-12 02:37] techoner commented on #37
@hameerabbasi You need to `load_policy()` after `set_role_manager ()`.

[2019-12-18 02:15] DragonGirlsDriver opened #41 "pycasbin adapters for django?"
I find some supported adapters such as SQLAlchemy Adapter and Peewee Adapter in doc. How about adapters for django web frame?

[2019-12-18 09:57] techoner commented on #41
Sorry, not yet, we will add it to our development plan soon.

[2019-12-18 10:02] hsluoyz commented on #41
@DragonGirlsDriver can you help contribute one?

[2019-12-20 02:08] DragonGirlsDriver commented on #41
I'm ready to do it

[2019-12-24 08:40] sahasrara62 opened #42 "save policy to the storage"
question

I am using the model file default `rbac_with_domains_model.conf` and policy file `rbac_with_domains_policy.csv`

loading it as

    import casbin
    x = casbin.Enforcer('<model file>','<conf file>')

I am assigning a new role for the user to it as

    y.add_role_for_user_in_domain('prashant','admin', 'domain1')

now I want to save this policy, so I am doing

    x.save_policy()

but th

[2019-12-24 14:20] hsluoyz commented on #42
@techoner

[2020-01-03 06:42] techoner commented on #42
Hi, @sahasrara62 !
Sorry to reply you so long.
The built-in file-adapter does not support `save_policy()`，it is recommended to use a persistent storage adapter, such as [`SQLAlchemy Adapter`](https://github.com/pycasbin/sqlalchemy-adapter).
[https://casbin.org/docs/en/adapters](https://casbin.org/docs/en/adapters)

[2020-01-03 06:45] hsluoyz commented on #42
@techoner is there any chance that we add the support for file save? As a reference implementation, Golang's Casbin supports it: https://github.com/casbin/casbin/blob/3353ce9a5c1205808bc165cfff82aa2da6f55b4e/persist/file-adapter/adapter.go#L49-L74

[2020-01-05 08:25] sahasrara62 commented on #42
@techoner  thanks for update

[2020-01-21 09:05] hustcsxg commented on #41
What's the progress?

[2020-01-26 07:48] keshrisohit opened #43 "Is RBAC apis are available in python implementation ?"

[2020-01-26 10:49] hsluoyz commented on #43
@keshrisohit yes, they are defined here: https://github.com/casbin/pycasbin/blob/master/casbin/enforcer.py

[2020-01-26 10:49] #43 closed

[2020-01-27 07:37] hsluoyz commented on #41
Finished: https://github.com/pycasbin/django-orm-adapter/blob/master/casbin_django_orm_adapter/adapter.py

[2020-01-27 07:37] #41 closed

[2020-01-27 08:26] hsluoyz commented on #42
@sahasrara62 it has been fixed in PyCasbin 0.8.4: https://github.com/casbin/pycasbin/commit/4fe6ac07dbd0eb8bed18dd095bde15a610366a88

[2020-01-27 08:26] #42 closed

[2020-01-27 08:28] #38 closed

[2020-01-27 08:28] #37 closed

[2020-01-27 08:29] #33 closed

[2020-01-27 15:31] keshrisohit opened #44 "AttributeError: module 'casbin_sqlalchemy_adapter' has no attribute 'Adapter'"
while running the given example geeting the above error

[2020-01-27 15:34] sahasrara62 commented on #42
@hsluoyz thanks for update

[2020-01-27 16:37] hsluoyz commented on #44
Hi @keshrisohit , can you send the issue at the adapter repo?

[2020-01-27 16:51] keshrisohit commented on #44
fixed it, repo was messed up and I was having cyclic imports it is working now.
Thanks for the quick response

[2020-01-27 16:51] #44 closed

[2020-01-27 18:10] keshrisohit commented on #30
do we have any benchmarked numbers we can refer to?

[2020-01-27 18:46] keshrisohit opened #45 "How to manage existing policies if i need to upgrade my policy definition ?"
Is there any suggested way I can achieve backward compatibility for my policy definition.
One way is to change all the existing policy data according to policy definition change, but this does not seem right once you have thousands of users in your production environment.

[2020-01-28 08:14] hsluoyz commented on #45
What adapter and DB do you use?

[2020-01-28 09:06] keshrisohit commented on #45
sqlalchmey-db-adaptor

[2020-01-28 09:10] hsluoyz commented on #30
Go: https://casbin.org/docs/en/benchmark

ACL: 0.015493 ms
RBAC: 0.021738 ms

Python: https://github.com/casbin/pycasbin/commit/42b8aae9303abff392b142325e3dfa9fad382e50

[code]

Go is 1.5 ~ 3x faster than Python.

I didn't port all benchmark tests from Go to Python. If you want to see all results, please help me port it from: https://github.com/casbin/casbin/blob/master/model_b_test.go

[2020-01-28 09:10] #30 closed

[2020-01-28 09:13] hsluoyz commented on #45
We recommend Alembic: https://alembic.sqlalchemy.org/en/latest/

See how OpenStack handle DB migration: https://docs.openstack.org/barbican/latest/contributor/database_migrations.html

[2020-01-28 09:30] keshrisohit commented on #45
My question is for Example I started with policy model
[policy_definition]
p = sub,obj, act

[role_definition]
g = _, _,

and I deployed it in production after sometime I want to change my role to

[role_definition]
g = _, _,_

Now when I invoke enforcer it will break for existing policy data
as it is not in sync with the new model. How do we handle this?

One way is to make change policy data man

[2020-01-28 10:00] hsluoyz commented on #45
You should add `domain` to all your `g` policy rules in DB.

[2020-01-28 10:12] keshrisohit commented on #45
Thanks for the answer.

[2020-01-28 10:18] #45 closed

[2020-01-29 11:16] jruizaranguren opened #46 "Returning a value of the policy rule as effect"
Let's say that in a policy, instead of providing a boolean kind of right, it grants some amount of a resource. For instance

p, sub, act, obj, amount

Is it possible to define a model so I get that amount as a result of calling Enforce instead of a true/false effect?

[2020-01-29 11:29] hsluoyz commented on #46
`enforceEx()` should return multiple values (tuple in Python). Add rule as return value.

[2020-01-29 12:23] jruizaranguren commented on #46
Sorry I do not understand the proposal. Do you mean to add a new enforceEx method to existing enforcers that returns tuples of matched rules?

[2020-01-29 12:25] hsluoyz commented on #46
Return (isBot, rule).

rule is something like: ["p", "alice",  "res1", "read"]

[2020-02-28 09:39] jruizaranguren commented on #46
@jkour, there are quite a lot of scenarios where this might be useful. The most important to me is to be able to explain the user (or automated system) why access was denied.
The calling system or user then may take compensation actions.
Also, there are scenarios when your are requesting a limited resource, and you may be allowed to a certain amount. In those cases, True / False is not enough, you

[2020-03-07 03:33] mds1455975151 opened #48 "How to make authorization rules effective immediately after modification"
use python flask+sqlalchemy-adapter

[2020-03-07 03:45] hsluoyz commented on #48
Hi @mds1455975151 , please modify your title and content into English before we answer it.

[2020-03-07 06:23] techoner commented on #48
@mds1455975151 You can reload the policy from database:
[code]

[2020-03-11 09:24] mds1455975151 commented on #48
Method not effective,

to test add monitor act use e.load_polocy()
[2020-03-11 17:19:51,839] INFO in views: {'username': '.xx', 'action': '新增', 'log_type': '授权规则', 'login_ip': '127.0.0.1', 'message': '授权test给予monitor资产GET权限'}
2020-03-11 17:19:51,863 - INFO - Policy:
2020-03-11 17:19:51,863 - INFO - p: sub, obj, act: [['anonymous', '/*', '(GET)|(POST)'], ['xx.ma', '/asset/*', '(GET)|(POST)'], ['xx.

[2020-03-23 14:02] divy9881 opened #49 "Bringing pycasbin in track with casbin-core."
I am sure there must be some features or functionalities which are not in track with casbin-core, why should we not track those features and bring them here and implement it.

[2020-03-23 17:46] techoner commented on #49
RBAC API: https://casbin.org/docs/en/rbac-api

[2020-03-24 16:40] xiaoerlaigeid opened #50 "About GSoC"
Hi metors, sorry for late.  Right now is there any chances about taking part in GSoC in pycasbin project ?

[2020-03-25 02:35] hsluoyz commented on #50
Yes. We are still hiring. Please chat in: https://gitter.im/casbin/gsoc instead of opening issues here. This is for tracking PyCasbin code issues only.

[2020-03-25 02:35] #50 closed

[2020-03-25 06:53] DivyPatel9881 commented on #49
Okay, then I will get to it, as soon as possible.

[2020-03-27 08:42] #48 closed

[2020-03-27 10:49] mds1455975151 opened #51 "Before and after login, the debug log printed by caspin shows that the users accessed are anonymous"
Before and after login, the debug log printed by caspin shows that the users accessed are anonymous. In theory, after the authentication is successful, the authenticated user information should be displayed. How should this inform the user to obtain the setting of caspin and identify the authenticated user normally

[code]

[2020-03-27 13:26] hsluoyz commented on #48
@mds1455975151 please call `save_policy()`

[2020-03-28 07:24] hsluoyz commented on #51
Change this code: https://github.com/pycasbin/flask-authz#how-are-subject-object-action-defined

[2020-03-28 07:24] #51 closed

[2020-04-12 10:56] keshrisohit opened #52 "Is there any way i can get all the role for user across different tenants in RBAC?"
One way I can find is I need to maintain all the tenants(domain) outside casbin and call get_roles_for_user_in_domain . Is there any other efficient away?

[2020-04-12 10:57] hsluoyz commented on #52
@techoner

[2020-04-12 13:34] techoner commented on #52
@keshrisohit `get_roles_for_user()`

[2020-04-12 13:39] keshrisohit commented on #52
It is returning blank values , if I use get roles in domain it returns the value within the domain.

[2020-04-12 14:53] techoner commented on #52
You can try it like this:
[code]

[2020-04-26 07:51] DivyPatel9881 commented on #49
Are you sure @techoner that just RBAC API was missing from ```pycasbin``` as compared to ```casbin-core```, aren't there more features to be implemented?

[2020-04-26 08:28] DivyPatel9881 commented on #49
I think we should make a TODO list.

[2020-04-26 08:30] techoner commented on #49
I mainly refer to Casbin's release log :  https://github.com/casbin/casbin/releases

[2020-04-30 07:27] liuhuancom opened #56 "Hope to add pymongo adapter"
`pymongo` performance is better than `mongoengine`

[2020-05-01 00:51] hsluoyz commented on #56
@liuhuancom can you please modify your title and text into English?

[2020-06-09 11:31] tshtilman opened #57 "eval function - ABAC with policy"
HiI am struggling with using eval functions for ABAC with policy in pycasbin
Model-taken from example

[code]

Policy - taken from example

[code]
[code]

[code]
also i see this function is not registered: https://github.com/casbin/pycasbin/blob/master/casbin/model/function.py

Appreciate any help  

[2020-06-09 13:05] hsluoyz commented on #57
@tshtilman PyCasbin doesn't support scaling ABAC feature yet. @techoner can we develop it?

[2020-06-09 14:47] techoner commented on #57
@tshtilman First you need to implement `eval()`, then use `e.add_function()` to register the method.

[2020-06-09 14:55] hsluoyz commented on #57
@xhy-5000 Hi, are you Hanyang? If yes, can you add the scaling ABAC feature for PyCasbin?

[2020-06-11 10:57] Xhy-5000 commented on #57
@tshtilman ，I'm Hanyang Xia. You can also call me Hanyang. :)

[2020-06-11 11:05] hsluoyz commented on #57
@Xhy-5000 can you develop this feature?

[2020-06-11 11:06] Xhy-5000 commented on #57
@hsluoyz  I'll have a try.

[2020-06-29 13:47] hsluoyz commented on #57
@Xhy-5000 see how other languages implement it:

- Rust: https://github.com/casbin/casbin-rs/pull/121
- Go: https://github.com/casbin/casbin/pull/427

[2020-07-20 06:09] chenqing24 opened #60 "Restful(Keymatch2) in v0.8.4 get wrong result"
My model.conf is
[code]

Policy is
[code]

and Request is
`ops, /process/approve, POST`

the result should False, but in fact it is:
`2020-07-20 13:53:23,985 - INFO - Request: ops, /process/approve, POST ---> True`

Did I code something wrong?

[2020-07-20 17:06] kbhagi commented on #60
@chenqing24 I would like to take a look at this issue. Please assign to me

[2020-07-25 02:42] hsluoyz commented on #60
@Xhy-5000 please take this issue and make a PR to fix it.

@kbhagi please also do it if you have interest! We will adopt the PR that fixes this issue at earliest time.

[2020-08-05 10:27] msdcanderson opened #64 "Best practice"
Hi,

I'm wondering about best practice in pycasbin.

**Example 1**

Say I have a DB table of stores:

| #   | id  | name    | description |
| --- | --- | ------- | ----------- |
| 1   | 1   | Store 1 | Store 1     |
| 2   | 2   | Store 2 | Store 2     |
| 3   | 3   | Store 3 | Store 3     |
| 4   | 4   | Store 4 | Store 4     |
| 5   | 5   | Store 5 | Store 5     |

A DB table of policies:

| #

[2020-08-05 10:29] hsluoyz commented on #64
@techoner @Xhy-5000 please provide some advices.

[2020-08-06 05:10] Xhy-5000 commented on #64
v0 - v5 means value 0 to value 5, each value can be one of Subject/Object/Action in the policy rule.
In PML's grammar, it is: p = sub, obj, act
policy rule ::= {value1, value2, value3, ...}
e.g. {alice, data1, read} => p.sub = alice, p.obj = data1, p.act = read
The adapters add some more value variables for longer policy rules, you can just ignore it if your policy rules are shorter than 6 values.

[2020-08-11 10:54] wakemaster39 opened #65 "Support for Filtered Adapters"
Running PyCasbin in a production environment with a decent size of rules (~30k) pycasbin starts to fall apart. Looping over the policy to find out if each rule matches only to find out that `r.obj != s.obj` is pretty painful.

Without completely obliterating the internals of casbin to hard code certain checks exist and using things like sets or dictionaries to get the performance up, filtered quer

[2020-08-14 15:21] Xhy-5000 commented on #56
https://github.com/pycasbin/pymongo-adapter/
Have a try if you need.:)

[2020-08-14 16:28] #56 closed

[2020-08-24 10:22] filwaline opened #70 "Make enforcer singleton?"
Enforcer load policy into memory, if there have multiple instances of enforcer and they modify policy, how can they keep sync?
Make enforcer singleton should solve this problem?
Or can you explain why enforcer shouldn't be singleton?

[2020-08-24 10:29] hsluoyz commented on #70
See: https://casbin.org/docs/en/multi-threading and https://casbin.org/docs/en/watchers

[2020-08-24 10:29] #70 closed

[2020-08-24 17:13] gerbyzation opened #71 "advice on performance"
We've been growing our test data set to about 2.5k rules in the policy set, which is making calls to the enforcer quite slow. Is there something that can be done to speed things up, or did I just pick a terrible model for performance?

model:
[code]
example policy:
[code]

[2020-08-25 02:29] hsluoyz commented on #71
Hi @gerbyzation I want to know what kinds of rules count for most of the 2.5k rules? How many p rules and how many g rules? I saw a lot of:

[code]

So each user ID will appear as one `g` rule, right? But `g` rules will be loaded into memory as a RBAC inheritance tree, so it won't be slow.

I also see bunches of rules like this:

[code]

Will this same rule set duplicate from 1, 2, 3, .. to 100000

[2020-08-25 09:05] gerbyzation commented on #71
@hsluoyz at the moment we have ~2.5k p rules and ~1k g rules.

Yes, we'd create these kind of rule set for each org and project/campaign that is created. Our plan was to have granular rules to allow permissions to be configurable for a specific org, project or team.

[2020-08-25 10:09] hsluoyz commented on #71
Will `campaign:1` people be able to access `campaign:2` or even another org's resources?

[2020-08-25 11:59] gerbyzation commented on #71
@hsluoyz yes, when given permission ofcourse. We want people to have a single account that can have access to various organizations and/or campaigns.

[2020-08-25 12:55] hsluoyz commented on #71
First, you can merge these into one:

[code]

into:

[code]

Of course, model needs to be updated.

[2020-08-25 14:43] gerbyzation commented on #71
@hsluoyz ok so that would change the matcher to `m = g(r.sub, p.sub) && keyMatch(r.obj, p.obj) && regexMatch(r.act, p.act)`

How does the `regexMatch` relate to `keyMatch` in terms of efficiency?

[2020-08-26 11:31] hsluoyz opened #72 "Support semantic-release"
See: https://github.com/casbin/Casbin.NET/issues/37

[2020-08-26 11:31] hsluoyz commented on #72
@Xhy-5000 can you take this issue?

/cc @techoner

[2020-08-26 11:37] Xhy-5000 commented on #72
Well, I will try it next month, after my final exams...

[2020-09-18 00:48] #65 closed

[2020-09-18 00:48] hsluoyz commented on #65
@wakemaster39 merged.

@techoner can you make a new release?

[2020-09-18 13:20] wakemaster39 commented on #71
So i'll toss my findings in here rather than creating a new ticket, Python is not Go and performance is approaching 50x time worse than the benchmarks. Just a simple sample implementation:

[code]

Output is `False 62.0729923248291`, according to benchmarks it should be ~2. Now python is not go, so it is not that I am complaining code is bad here or anything this is just a fact of our chosen langu

[2020-09-25 16:27] kickingbull commented on #56
I know this pull request has already been merged but should the Adapter class in casbin/persist/adapter.py be updated to include `load_filtered_policy(self, model, filter)`  as part of this pull request?

[2020-09-25 16:31] hsluoyz commented on #56
@Xhy-5000

/cc @techoner

[2020-09-25 16:31] hsluoyz commented on #56
@kickingbull can you raise a new issue to the right repo (main lib or a specific adapter) for your question?

[2020-09-25 16:34] kickingbull commented on #56
Yes

[2020-09-25 16:51] kickingbull commented on #56
Sorry, I just realized I added this comment to the wrong PR.

[2020-09-25 17:02] kickingbull opened #73 "load_filtered_policy method missing from Adapter class definition"
[Issue 66](https://github.com/casbin/pycasbin/issues/66) added support for filtered policies and calls the `load_filtered_policy` method of an adapter instance.  Should the base Adapter class in casbin/persist/adapter.py be updated to include the method `load_filtered_policy`?

[2020-09-27 02:16] hsluoyz commented on #73
@Xhy-5000

/cc @techoner @nodece

[2020-09-28 04:40] Xhy-5000 commented on #73
Well, these two functions are not necessary for the present Casbin adapter defination.

[2020-09-28 18:48] kickingbull commented on #73
In the below method that is in the CoreEnforcer class, there is a call to `self.adapter.load_filtered_policy()`.
[code]
Given this, why would you not want to add `load_fitlered_policy` to the Casbin adapter?  Without adding this to the Casbin adapter, how does one implementing a version of the Casbin adapter know that they need to implement the `load_filtered_policy()` method in their adapter in o

[2020-09-28 21:59] kickingbull opened #74 "Is there a way to pass the RoleManager to a custom matcher function"
Is there any way to pass a Role Manager to a custom matcher function so inherited roles could be tested using a matcher function?

The alternative would be to pass a matcher function to a g function.

An example showing the need for this is:
[code]

In the above example, I can match enforcement requests for /resource_1 and /resource_2 with a g function.  However, there is no way I can think of to

[2020-09-29 06:45] Xhy-5000 commented on #73
OK, thank you for your reminder, I'll consider about updating the adapter to fix this issue.

[2020-09-29 13:28] hsluoyz commented on #73
@Xhy-5000 can you work on this?

[2020-09-29 13:58] hsluoyz commented on #74
@Xhy-5000

/cc @techoner

[2020-09-29 15:22] Xhy-5000 commented on #73
I'm too busy these days...

[2020-09-30 00:32] hsluoyz commented on #73
@techoner can you help on it?

[2020-10-03 17:59] wakemaster39 commented on #71
I have taken what I created here, generalized it a whole lot and did the needful and wrapped it up into a package.

https://pypi.org/project/fastbin/

I will be porting my current production usage away from the code above to this package and roll it to v1 stable release next week hopefully. Been using the sample code for a few months running stable so there shouldn't be too many issues to sort out

[2020-10-03 18:14] wakemaster39 commented on #73
I added the functions into the defaults, I kind of felt like off of the functions in the file adapter should raise instead of pass but I followed the standard left there.

[2020-10-03 18:33] wakemaster39 commented on #74
The way that I solved this was writing my own role manager. The RBAC implementation here is really really simplistic, and to me it felt like an example that is meant to be extended to your situation and not actually be used beyond the most basic of use case. I needed LDAP and a whole bunch of role management stuff so I had to write my own entirely.

If the default solves the majority of your needs

[2020-10-04 02:26] #73 closed

[2020-10-06 11:40] wakemaster39 opened #76 "New Release (0.9.0?)"
With filtered policy support available it would be awesome to have this available in a general release rather than needing to us git repos.

[2020-10-06 15:53] hsluoyz commented on #76
@techoner please help make a new release.

[2020-10-09 04:33] techoner commented on #76
New release: [PyCasbin 0.9.0](https://github.com/casbin/pycasbin/releases/tag/v0.9.0)

[2020-10-09 04:33] #76 closed

[2020-10-11 21:00] aleksey-shmatov opened #77 "Support for ! - not operator"
Current implementation replaces `&&` and `||` with `and` and `or` correspondingly but does not handle `!` operator.

[2020-10-11 21:02] kickingbull commented on #74
Thanks for the suggestion.

[2020-10-12 07:51] hsluoyz commented on #77
@techoner @Xhy-5000

[2020-10-12 08:05] Xhy-5000 commented on #72
Sorry that I'm too busy these days and I can't finish that.

[2020-10-12 22:52] dwang7 commented on #74
The go version has support for matchers in the role manager.  Any plans on porting that to the python version?

https://github.com/casbin/session-role-manager/blob/master/role_manager.go

[2020-10-12 23:46] hsluoyz commented on #74
@techoner

[2020-10-13 01:14] hsluoyz commented on #57
Fixed by: https://github.com/casbin/pycasbin/pull/68

@tshtilman can you try it?

[2020-10-13 01:17] hsluoyz commented on #64
Example 1

- Yes, use `get_implicit_permissions_for_user()`

It's not good. Domain is a logic concept than an object like table. You can use global ID to remove duplication between tables.

[2020-10-13 01:18] #64 closed

[2020-10-13 01:18] hsluoyz commented on #74
Can anyone contribute to this issue?

[2020-10-13 15:57] jessecooper opened #78 "Issue with pycasbin logging"
PyCasbin currently sets up its own logger:
https://github.com/casbin/pycasbin/tree/master/casbin/log

Since pycasbin is a supporting module to an application it should differ the logging setup to the application that would leverage the module. This is done by the module class setting `self.logger = logging.getLogger()` to get the root logger.
Then when calls are made with `self.logger.[method]([me

[2020-10-14 11:14] hsluoyz commented on #78
@techoner

[2020-10-18 12:46] hsluoyz commented on #78
@Xhy-5000

[2020-10-25 01:26] hsluoyz commented on #78
Hi @jessecooper , can you make a PR to fix it?

[2020-10-25 15:06] jessecooper commented on #78
@hsluoyz A member of our team @favipcj has picked up this ticket and will be working on it. There should be a PR for it sometime next week.

[2020-10-25 15:42] hsluoyz commented on #78
@jessecooper thanks for the quick response!

[2020-10-26 07:02] yyellowsun commented on #77
Could you show more details or give an example code?

[2020-10-29 09:25] #77 closed

[2020-11-02 04:45] yyellowsun commented on #72
@nodece
I get this error：
  Allowed to push to the Git repository
[上午11:53:19] [semantic-release] ›   Start step "verifyConditions" of plugin "@semantic-release/changelog"
[上午11:53:19] [semantic-release] ›   Completed step "verifyConditions" of plugin "@semantic-release/changelog"
[上午11:53:19] [semantic-release] ›   Start step "verifyConditions" of plugin "@semantic-release/exec"
[上午11:53:19] [sem

[2020-11-04 07:24] Z-Yishion opened #83 "The CSV file is separated by “,” and a space, while the casbin editor police does not"
https://casbin.org/zh-CN/editor

[2020-11-04 07:25] hsluoyz commented on #83
Hi @Z-Yishion please change the issue title to English, thanks!

[2020-11-04 07:38] Z-Yishion opened #84 "keyMatch2(r.obj, p.obj) Breaking the rules on homepage when the url is /"
when I use allow-and-deny model in my project , fllow is my define :
[request_definition]
r = sub, obj, act

[policy_definition]
p = sub, obj, act, eft

[role_definition]
g = _, _

[policy_effect]
e = some(where (p.eft == allow)) && !some(where (p.eft == deny))

[matchers]
m = g(r.sub, p.sub) && (r.obj == p.obj || p.obj == "*" || keyMatch(r.obj, p.obj) || keyMatch2(r.obj, p.obj))  && (r.act == p.a

[2020-11-04 07:42] Z-Yishion opened #85 "role_manager.py does't implementation ！Role manager？"
https://github.com/casbin/pycasbin/blob/6b52db16b5902d3f326d0c63856e700d56041a24/casbin/rbac/default_role_manager/role_manager.py#L5-L13

The method doesn't work！Because   all_roles = dict()  is invalid！

[2020-11-04 07:49] Z-Yishion opened #86 "roles = e.get_roles("alice") is wrong！"
https://github.com/casbin/pycasbin

In the following introduction：

[code]
There is no such method like get_roles("alice")！  use get_roles_for_user("alice") instead!

[2020-11-04 09:37] Z-Yishion opened #87 "It`s wrong in keyMatch2！"
in builtin_operators.py

[code]

when url is / that can match any url

[2020-11-04 10:40] hsluoyz commented on #87
@Z-Yishion the code your pasted is `regex_match()`.

[2020-11-04 11:56] yyellowsun commented on #86
get_roles()  is defined in             https://github.com/casbin/pycasbin/blob/a915dce5d7d0707f98a91c3677ef47a8d6ce6cd2/casbin/rbac/default_role_manager/role_manager.py#L69
get_roles_for_user is defined in
https://github.com/casbin/pycasbin/blob/52673f290f4114c8cda5f511356f71249700d349/casbin/enforcer.py#L18
They are different.
See more details in https://github.com/casbin/pycasbin/tree/master/tes

[2020-11-04 13:57] techoner commented on #86
Readme is wrong.

[2020-11-04 14:16] hsluoyz commented on #86
Fixed in: https://github.com/casbin/pycasbin/commit/6b52db16b5902d3f326d0c63856e700d56041a24

[2020-11-04 14:16] #86 closed

[2020-11-04 14:17] hsluoyz commented on #85
Can you provide more details?

[2020-11-05 00:59] Z-Yishion commented on #85
看看啊！all_roles = dict()就是个空字典  所有的引用都没有实现任何的方法  也没有调用enforce  就是个假的  什么都没有实现  所以没有任何用  换而言之 ，这个内置管理器就是皮包公司！杵在那里，里面啥都没有...

[2020-11-05 01:57] hsluoyz commented on #85
@techoner @yyellowsun

[2020-11-05 06:27] yyellowsun commented on #85
Before you add an role in the RoleManager,the RoleManager has no role,so it was Initialized as an empty dictionary.There is no fault in RoleManager definition.

When you add [role_definition] and write e.get_roles_for_user("role_alice").
To see what happed  from https://github.com/casbin/pycasbin/blob/6b52db16b5902d3f326d0c63856e700d56041a24/casbin/enforcer.py#L18
and step by step to see what the

[2020-11-05 10:38] hsluoyz commented on #85
Well explained. Closed for now.

[2020-11-05 10:38] #85 closed

[2020-11-05 12:59] #84 closed

[2020-11-11 05:16] hsluoyz commented on #87
Fixed in: https://github.com/casbin/pycasbin/pull/88

[2020-11-11 05:16] #87 closed

[2020-11-11 05:17] hsluoyz commented on #83
@yyellowsun can you work on this issue?

[2020-11-12 13:19] hsluoyz commented on #83
This is not an issue of PyCasbin.

[2020-11-12 13:19] #83 closed

[2020-11-17 14:51] #74 closed

[2020-11-17 16:00] hsluoyz commented on #74
Fixed in: https://github.com/casbin/pycasbin/pull/92

[2020-11-26 13:55] hsluoyz commented on #57
https://github.com/casbin/pycasbin/pull/68 this PR is abandoned. This issue is not yet resolved.

[2020-11-27 16:49] abichinger commented on #60
@hsluoyz I think this issue can be closed, because PR #88 fixed it.

[2020-11-28 00:35] hsluoyz commented on #60
Fixed by: https://github.com/casbin/pycasbin/pull/88

@abichinger thanks!

[2020-11-28 00:35] #60 closed

[2020-12-01 10:38] #57 closed

[2020-12-01 10:39] hsluoyz commented on #57
Fixed by: https://github.com/casbin/pycasbin/pull/94

[2020-12-01 10:43] hsluoyz commented on #57
@techoner can you make a pypi release at: https://pypi.org/project/casbin/ ?

[2020-12-04 02:37] hsluoyz commented on #49
Closed for now.

[2020-12-04 02:37] #49 closed

[2020-12-04 02:38] hsluoyz opened #96 "Batch API is still missing for Python-Casbin"
See: https://casbin.org/docs/en/overview#feature-set-for-different-languages

[2020-12-04 02:38] hsluoyz opened #97 "Filtered Adapter is still missing for Python-Casbin"
See: https://casbin.org/docs/en/overview#feature-set-for-different-languages

[2020-12-04 02:39] hsluoyz opened #98 "Multi-Threading is still missing for Python-Casbin"
See: https://casbin.org/docs/en/overview#feature-set-for-different-languages

[2020-12-04 02:39] hsluoyz commented on #96
Can anyone work on this issue? @abichinger @yyellowsun

[2020-12-04 02:40] hsluoyz commented on #97
Can anyone work on this issue? @abichinger @yyellowsun

[2020-12-04 02:40] hsluoyz commented on #98
Can anyone work on this issue? @abichinger @yyellowsun

[2020-12-08 14:53] agarwalBinay18 commented on #97
Can I work on this issue?

[2020-12-09 01:54] yyellowsun commented on #97
Of course.I have finished some work.We can help each other. :)

[2020-12-09 05:14] hsluoyz commented on #97
@agarwalBinay18 sounds good.

@yyellowsun can you show the current status of this work? Maybe a draft PR or your own fork?

[2020-12-09 06:19] yyellowsun commented on #97
@hsluoyz  I did this [filtered_adapter](https://github.com/yyellowsun/pycasbin/tree/file_adapter/casbin/persist/adapters).Mabe something wrong.Just a draft.Need to read more source code of casbin.
@agarwalBinay18 please help me to review the code  or I can help to review your code.

[2020-12-09 06:31] agarwalBinay18 commented on #97
`sure @yyellowsun I'll review your code

[2020-12-14 08:33] abichinger commented on #98
@hsluoyz, i am going to work on this issue

[2020-12-14 14:51] hsluoyz commented on #98
Great!

[2020-12-14 15:31] yyellowsun commented on #97
@agarwalBinay18  @abichinger  I finish all [functions roughly](https://github.com/yyellowsun/pycasbin/commit/540b71d229b539db548980d4d3238493c6dba5a3).But I don't how to convert interface in go to python. please help me.Thanks for you a lot :).

[2020-12-14 16:48] agarwalBinay18 commented on #97
I will help you @agarwalBinay18

[2020-12-14 23:51] hsluoyz commented on #97
Please make a PR.

[2020-12-17 21:00] abichinger commented on #98
@hsluoyz while looking at the go version of casbin, i couldn't find synchronized implementations of [`GetRoleManager`](https://github.com/casbin/casbin/blob/11b54bfb32cc2fff2bbb46fba1ffbbd26ec3cc34/enforcer.go#L252), [`SetRoleManager`](https://github.com/casbin/casbin/blob/11b54bfb32cc2fff2bbb46fba1ffbbd26ec3cc34/enforcer.go#L257) and [`EnableLog`](https://github.com/casbin/casbin/blob/11b54bfb32c

[2020-12-18 05:12] yyellowsun commented on #98
@abichinger  You can see [enforcer_synced](https://github.com/casbin/casbin/blob/master/enforcer_synced.go)
As it descripes [here](https://github.com/casbin/casbin/blob/11b54bfb32cc2fff2bbb46fba1ffbbd26ec3cc34/enforcer_synced.go#L26)
May helpful for you

[2020-12-18 06:04] hsluoyz commented on #98
@abichinger we didn't wrap all functions inside SyncedEnforcer because some functions are just getting/setting components like adapters or role managers. They usually be called only once and have very small chance to be accessed frequently and parallelly.

Of course it's also OK if we wrap all Enforcer functions.

[2020-12-18 11:03] hsluoyz commented on #72
Fixed by: https://github.com/casbin/pycasbin/pull/95

[2020-12-18 11:03] #72 closed

[2020-12-23 14:19] #98 closed

[2020-12-27 01:22] hsluoyz commented on #97
Fixed in: https://github.com/casbin/pycasbin/pull/100

[2020-12-27 01:22] #97 closed

[2020-12-28 01:27] hsluoyz commented on #96
Can you work on this issue? @yyellowsun

[2020-12-28 11:30] yyellowsun commented on #96
Ok,I will try this week.

[2021-01-08 04:11] rituperiwal commented on #78
Posting my issue here as the ticket is related to pycasbin logging.
I am unable to stop printing of saved policies in logs even if i sent the enable_log=False in casbin.Enforcer() call.
as i have large policies in my storage, 10k+ policies gets printed in logs for every call and even lambda gets timed out before completing processing. Need help in solving this.
Only when i disable logging in my ma

[2021-01-08 04:17] hsluoyz commented on #78
@rituperiwal I think finally it may be the correct time to fix this issue now :) Golang Casbin has a new logger mechanism now, see docs: https://casbin.org/docs/en/log-error , so users can implement their own logger like: https://github.com/casbin/zap-logger

Does it make sense?

Also /cc @jessecooper

[2021-01-08 20:08] jessecooper commented on #78
@hsluoyz the Python logging package (https://docs.python.org/3/library/logging.html) is a fairly complete and modular logging package. I think the suggestions in https://github.com/casbin/pycasbin/pull/80 while not in line with the Go version of Casbin would be the most appropriate approach for Python and ensuring log lines fall under the most appropriate log level.

@rituperiwal can you give a be

[2021-01-09 08:47] #96 closed

[2021-01-19 02:00] rituperiwal commented on #78
@jessecooper yes you are right. In my case where the authorizer is lambda, everytime the lambda is getting invoked, the policies are getting loaded and so getting printed. How can i fix this using lambda?
apart from thousands of log lines for each policy which makes debugging difficult, the lambda also getting timed out.
I removed printing by logging.getLogger('sqlalchemy.engine.base.Engine').prop

[2021-01-21 13:42] jessecooper commented on #78
I would make get_enforcer or validate access a decorator that uses caching. This is what I do with flask-authz: https://github.com/pycasbin/flask-authz/blob/master/flask_authz/casbin_enforcer.py#L54 at least this way you will only load it once per lambda. This way it caches the enforcer.

https://github.com/casbin/pycasbin/pull/80 has not yet been merged.

[2021-01-22 16:43] hsluoyz commented on #78
@jessecooper I had a proposal here: https://github.com/casbin/pycasbin/pull/80#discussion_r554283962  can you see if it works?

[2021-01-23 22:19] llicour opened #103 "Strange enforcer RBAC role context corruption"
Hi
I found something like a role context corruption during tests with latest version of pycasbin (don't know if it occurs also on other implementations).
This lead to bad evaluation of policy. Same inputs give 2 differents results...

I simplify my complete test case in a little form, where each policy line is important, even if i don't understand why some of them have part of the corruption (eg.

[2021-01-24 04:49] hsluoyz commented on #103
@llicour

This could be the origin of another bug... Are you agree ?
(And activating pattern matching activate it for both subject and object RBAC)

We will first resolve it at Casbin Golang, then port to PyCasbin. See: https://github.com/casbin/casbin/issues/685

[2021-01-25 08:28] Z-Yishion opened #104 "Does the Management API not support Chinese display of policy？"
The model is:
[policy_definition]
p = sub, obj, act, service, eft

database example:
1	p	admin	*	*	真的吗	allow

when I use enforce.get_policy()  display ??
Does the Management API not support Chinese display of policy？

[2021-01-25 09:30] hsluoyz commented on #104
@techoner

[2021-01-25 09:56] Z-Yishion opened #105 "Add UpdatePolicy() API to PyCasbin"
When I want to update a policy ,but, there is nothing!  Is this a joke?

[2021-01-25 09:59] LiuG-lynx commented on #104
I want to try and solve this problem

[2021-01-25 10:01] LiuG-lynx commented on #104
@Z-Yishion
What is your database character set?

[2021-01-25 13:40] hsluoyz commented on #103
@llicour Casbin Golang has fixed this issue by PR: https://github.com/casbin/casbin/pull/686

We should copy the solution to PyCasbin.

[2021-01-25 14:22] #78 closed

[2021-01-25 14:29] hsluoyz opened #106 "Semantic-Release doesn't work any more"
See: https://github.com/casbin/pycasbin/pull/80#issuecomment-766853569

[2021-01-26 02:56] LiuG-lynx commented on #104
@Z-Yishion  Check your database connection driver and make sure it is working properly .
@hsluoyz  I don't think this is a problem related to Casbin, please close the issue

[2021-01-26 02:58] #104 closed

[2021-01-26 03:34] hsluoyz commented on #104
@Z-Yishion how did you resolve your issue?

[2021-01-26 13:29] abichinger commented on #106
@hsluoyz semantic-release was triggered, but it didn't detect any changes. ([Release Log](https://github.com/casbin/pycasbin/runs/1762523452?check_suite_focus=true#step:7:64))
I guess this happend, because the commit messages do not adhere to the required [format](https://semantic-release.gitbook.io/semantic-release/#commit-message-format).

[2021-01-26 14:38] techoner commented on #106
The format of the commit message does not meet the specification: https://github.com/semantic-release/semantic-release#commit-message-format

[2021-01-26 15:01] hsluoyz commented on #106
@abichinger @techoner but I think the semantic-release bot will give a red alert in the PR if the PR title or commit message doesn't start with prefix like "fix: xxx", right?

[2021-01-26 15:23] abichinger opened #107 "RoleManager with matching_func depends on order of link creation."
In some cases the `RoleManager` yields different results, if the order of link creation is reversed.

Example:
[code]

The expected output is `True` for both.

I will create a PR to fix this issue.

[2021-01-26 15:40] abichinger opened #108 "RoleManager with matching_func and read lock of SyncedEnforcer.enforce"
With the current implementation of `RoleManager`, `SyncedEnforcer` should aquire a write lock before calling `Enforcer.enforce`.
The issue is that the function `RoleManager.has_link` may modify the dictionary `RoleManager.all_roles`.

This example throws a RuntimeError:
[code]
[code]

I will try to fix this issue without the need of a write lock on `Enforcer.enforce`.

[2021-01-26 15:43] hsluoyz commented on #107
@abichinger great!

[2021-01-26 15:53] abichinger commented on #106
I think you need to install: https://github.com/apps/semantic-pull-requests

[2021-01-26 16:00] hsluoyz commented on #106
@abichinger it seems that it's already enabled. Don't know why it didn't work out.

![image](https://user-images.githubusercontent.com/3787410/105869855-a783dc00-6032-11eb-9d2a-79b3c68b0b47.png)

[2021-01-26 16:01] hsluoyz commented on #106
@abichinger techoner also proposed a solution here: https://github.com/casbin/pycasbin/pull/80#issuecomment-767635380 is there any difference between both solutions?

[2021-01-26 16:15] #106 closed

[2021-01-29 10:56] hero100era opened #111 "AttributeError: 'Adapter' object has no attribute '_filtered'"
from mysite.casbin.base import enforcer
  File "D:\Application\PortableGit\mysite\mysite\casbin\base.py", line 15, in <module>
    enforcer = Enforcer('mysite/casbin/model.conf', adapter, True)
  File "c:\users\adm\venv\lib\site-packages\casbin\core_enforcer.py", line 32, in __init__
    self.init_with_adapter(model, adapter)
  File "c:\users\adm\venv\lib\site-packages\casbin\core_enforcer.py", li

[2021-01-29 11:17] hsluoyz commented on #111
@hero100era plz send the issue to: https://github.com/pycasbin/sqlalchemy-adapter

[2021-01-29 11:17] #111 closed

[2021-01-29 15:57] #107 closed

[2021-01-29 15:58] hsluoyz commented on #107
:tada: This issue has been resolved in version 0.16.1 :tada:

The release is available on:
- `v0.16.1`
- [GitHub release](https://github.com/casbin/pycasbin/releases/tag/v0.16.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-29 16:01] hsluoyz commented on #108
Fixed by: https://github.com/casbin/pycasbin/pull/110

[2021-01-29 16:01] #108 closed

[2021-01-30 05:07] hsluoyz commented on #105
@Z-Yishion UpdatePolicy() is not implemented in PyCasbin yet. We will add it. BTW, what adapter do you use?

[2021-01-30 05:09] hsluoyz commented on #105
There are 2 steps to implement this feature:

1. Add the `UpdatePolicy()` API to the enforcer, see how we did it in Golang: https://github.com/casbin/casbin/issues/584
2. Implement the `UpdatableAdapter` interface in the adapter, see how we did it in Golang: https://github.com/casbin/gorm-adapter/issues/65

[2021-02-01 09:15] eremeevfd opened #112 "Fix logging"
Hello, I've updated casbin to version `0.16.1` (PR: https://github.com/casbin/pycasbin/pull/80) and I see now that flag `debug` was removed and replaced with:

https://github.com/casbin/pycasbin/blob/5676034a91c93c08a7f1ee42686448a0aa852434/casbin/core_enforcer.py#L25-L32

My suggestion:
Specify logger name (e. g. `casbin`)

[2021-02-01 09:31] hsluoyz commented on #112
@jessecooper @favipcj any comments?

[2021-02-02 10:23] filwaline opened #114 "Explore the mixing model of RBAC and ABAC"
I am exploring how to achieve the mixing model of RBAC and ABAC in casbin, so common logic can be extracted and reduce the number of policies.

For discussion, consider the simple model below
[code]

This model is problematic, because `r.sub` and `r.obj` would very likely be a object or struct which ABAC rely on
-  function `g` in `[matchers]` can not compare compound object/struct to each other
-

[2021-02-02 11:10] hsluoyz commented on #114
@filwaline may I ask you to change the text into English to help developers all over the world read it?

[2021-02-02 11:17] filwaline commented on #114
OK，I will translate text to english.

[2021-02-02 12:28] hsluoyz commented on #114
@filwaline `g` only supports string. I don't know why you want to use struct in `g`, as it's meaningless. You don't need to hack any tricks with struct-to-string inside PyCasbin. You can just pass more args to enforce() to have both string and struct at the same time if you like.

[2021-02-02 12:32] filwaline commented on #114
[code]
yes, this should work, but seems ugly to me....

[2021-02-02 12:43] #114 closed

[2021-02-03 15:48] techoner opened #119 "Improve logger to meet more scenarios"
The current log implementation is not the best solution. In fact, we can refer to `go-casbin` and pass the log implementation in new enforcer() to meet multiple log configurations in the same project, or output from different enforcers to different files .
Or it is also feasible to specify the logger name in `new enforcer() `.

Pass in logger implementation during initialization in `Go-Casbin`:
[c

[2021-02-03 15:49] hsluoyz commented on #112
Closed for: https://github.com/casbin/pycasbin/pull/113#issuecomment-772609381

[2021-02-03 15:49] #112 closed

[2021-02-03 18:48] rituperiwal commented on #78
just observation- after updating code to use the latest version, all our apis started failing with exception: __init__() takes from 1 to 3 positional arguments but 4 were given.
Realised that it was because of the 3rd enable_log argument to the casbin.Enforcer() call.
<img width="549" alt="Screenshot 2021-02-04 at 12 05 48 AM" src="https://user-images.githubusercontent.com/31469217/106793328-50f34

[2021-02-03 23:18] favipcj commented on #112
Sorry for not getting back to you sooner @hsluoyz.

But here a thought, as it's pointed out on the issue https://github.com/casbin/pycasbin/issues/78, pycasbin is a supporting module to an application, so for setting a name and level for **pycasbin logger** the root logger of the app that is using pycasbin should be overwritten as a result pycasbin will take that logger configuration. That is a co

[2021-02-04 01:34] hsluoyz commented on #112
@eremeevfd any comments?

[2021-02-04 01:35] hsluoyz commented on #78
@rituperiwal sorry for the breaking change. We will fix it in next version: https://github.com/casbin/pycasbin/issues/119

[2021-02-09 04:54] awemulya opened #120 "async support"
Do you have plan to adopt async features.??

Its too slow as compared to Nodejs and Go Implementations.

[2021-02-10 00:18] wakemaster39 commented on #120
There are two parts to casbin, loading the policy and enforcing a policy. For loading a policy, in theory async could be used for allowing parallel execution while a async compatible adapter loaded the data from a database. There is some people interested doing this in the sqlalchemy adapter.

The second part of loading the adapter is purely in memory and CPU bound. I have been through this code v

[2021-02-10 04:22] awemulya commented on #120
I was planning to write async sqlalchemy adapter but we cant overide sync methods of base class by async methods in child class.
SInce core pycasbin is sync I dont think its possible to write async adapters.

[2021-02-10 04:25] awemulya commented on #120
@wakemaster39 loading policies from adapters can be improved If core Enforce methods were async.

[2021-02-10 05:53] manojchapagain commented on #120
Writing standalone async sqlalchemy adapter is not enough because CoreEnforcer don't call load_policy as coroutine function. My understanding could be deficient but [here](https://github.com/casbin/pycasbin/blob/382546bd9ff5c82da2a9003e2cb6c9917c2495d6/casbin/core_enforcer.py#L146) loading policy from adapter is not awaitable so doesn't involve the event loop.

[2021-02-10 09:13] wakemaster39 commented on #120
Well yes and no, the biggest issue here is `async/await` are not callable inside of an `__init__` method and you need to do some special `@classmethod` that would wrap up the initialization process for you and whatever async specialness you needed. Therefore you would need to make sure that `load_policy` was never called in the `__init__` process.

To that end, why not just bypass some of the casb

[2021-02-10 13:54] hsluoyz commented on #120
ping @techoner

[2021-02-16 18:27] llicour opened #121 "Regression case from 0.16.0 in enforcement policy"
Hello
Seems that 0.16.2 fix #103
But i now have a change in enforcement results, between 0.16.0 and 0.16.2 (last version is wrong)

model
[code]

policy
[code]

sample code :
[code]

with 0.16.0, result is (True, False), and seems this is the right result for policy
with 0.16.2, result is (True, True), so bobby is grant for something that policy deny

[2021-02-17 00:38] hsluoyz commented on #121
@Zxilly

[2021-02-19 13:36] Zxilly commented on #121
working on this

[2021-02-19 13:42] #105 closed

[2021-02-19 13:43] hsluoyz commented on #105
@Z-Yishion the PR: https://github.com/casbin/pycasbin/pull/118 is merged. What adapter do you use?

[2021-02-23 11:44] #121 closed

[2021-02-23 11:45] #103 closed

[2021-03-12 16:19] hsluoyz commented on #120
@Zxilly

[2021-03-12 16:36] Zxilly commented on #120
@hsluoyz There is a lot work to do. Will do this.

[2021-03-24 12:02] hsluoyz opened #131 "Switch from Travis-CI to GitHub Actions"
See: https://github.com/casbin/pycasbin/pull/130#issuecomment-805765196

[2021-03-24 12:02] hsluoyz commented on #131
@Zxilly

[2021-03-24 12:05] Zxilly commented on #131
working on this

[2021-03-26 04:54] Zxilly commented on #131
resolve in https://github.com/casbin/pycasbin/commit/53713d06b238cc8cb76cfc123db2876874d7c267

[2021-03-26 05:37] hsluoyz commented on #131
Thansk both!

[2021-03-26 05:37] #131 closed

[2021-03-31 13:43] hsluoyz opened #133 "Implement enforceEx()"
Why is this necessary: https://github.com/casbin/pycasbin/issues/46

See the Go code as a reference implementation: https://casbin.org/docs/en/management-api#enforceex

[2021-03-31 13:44] hsluoyz commented on #46
Replaced by: https://github.com/casbin/pycasbin/issues/133

[2021-03-31 13:44] #46 closed

[2021-04-02 15:34] Zxilly commented on #133
In fact, I have some opinion with @divyagar at https://github.com/casbin/pycasbin/issues/46#issuecomment-810921197
Enforce is the core of casbin, made another enforce may make user feel confused.
Maybe we should add an util function to get the reason of deny or allow.

[2021-04-02 16:01] hsluoyz commented on #133
@Zxilly Casbin doesn't store enforcement history, so there's no easy way to call another function to get reason. It's also not good for parallel.

`EnforceEx()` is nearly already a decided thing, which is available in Go Casbin and the docs: https://casbin.org/docs/en/management-api#enforceex

I don't see a strong motive to break it.

[2021-04-03 08:37] Zxilly commented on #133
@hsluoyz got it, working on this

[2021-04-06 11:29] #133 closed

[2021-04-06 11:33] hsluoyz commented on #133
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- `v1.0.0`
- [GitHub release](https://github.com/casbin/pycasbin/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-07 07:01] nathanschepers opened #135 "Difference in enforce() behaviour between 0.19.2 and 0.20.0?"
What has changed that may cause this behaviour?

The following test passes in v0.19.2, but fails in v0.20.0 (and v1.0.0):

[code]

model.conf:
[code]

test_policy.csv:
[code]

[2021-04-07 07:35] hsluoyz commented on #135
@Zxilly

[2021-04-07 07:40] Zxilly commented on #135
working on this

[2021-04-07 10:42] Zxilly commented on #135
@nathanschepers plz read https://casbin.org/docs/en/rbac-with-domains, seems you are running with undefined behavior.

[2021-04-07 11:00] nathanschepers commented on #135
Thank you @Zxilly -- I took a look and i'm kind of new to this. Can you give us a quick hint about what exactly the undefined behaviour is?

[2021-04-07 11:54] Zxilly commented on #135
@nathanschepers RBAC with domain needs a sperate tenant name in policy like `r.dom`, `p.dom`
I didn't exactly understand what `customer_id` means, if it is a key to customer, you can just add another subject and make `r.sub2==p.sub2`

[2021-04-07 12:48] hsluoyz commented on #135
@Zxilly I think the example is correct.

r.sub is "bob", p.sub is "role::orderer", r.obj is "1", so we have:

g(r.sub, p.sub, r.obj) = g("bob", "role::orderer", "1"), which is the g policy.

So the enforce result shoule be true. If it's not true in newer versions, it should be fixed.

[2021-04-08 07:24] Z-Yishion opened #136 "2006, 'MySQL server has gone away'"
When I visited the next day, I got this prompt:
[code]
or:
[code]
My environment：
[code]
My configuration is as follows:
[code]
[code]
start-up：
`gunicorn casbin_pro.asgi:application -b 0:8000 -w 2 -k uvicorn.workers.UvicornWorker --reload --log-level info -t 600`

[2021-04-08 10:48] hsluoyz commented on #136
@Zxilly

[2021-04-08 14:38] hsluoyz opened #137 "Code messed up and revert back to v0.18.3"
@techoner there's unmanageable bug (like https://github.com/casbin/pycasbin/issues/135) in the latest PyCasbin v1.0.0. And I think some versions are using merge commits in PR and make the whole code history unrecoverable. I suggest we revert back to v0.18.3 . We need to set all following versions to deprecated in pypi. Is this OK?

![image](https://user-images.githubusercontent.com/3787410/1140459

[2021-04-08 15:29] Zxilly commented on #135
@divyagar I revert https://github.com/casbin/pycasbin/pull/130 and this issue solved.
I didn't carefully review your PR, seems it broke the role manager in some edge condition. Could you please work on this issue?

[2021-04-08 15:35] techoner commented on #135
I think the problem lies here[#130](https://github.com/casbin/pycasbin/pull/130/files#diff-b99de76010408598587f008fe59b8f29567d6935cc08fc87b14ed75aa588bb41L48) :
![image](https://user-images.githubusercontent.com/35752209/114055158-139c7f00-98c3-11eb-98c0-b3afafaefc6f.png)

[2021-04-08 15:41] hsluoyz commented on #135
@Zxilly plz make a PR to fix it.

[2021-04-09 12:57] Zxilly commented on #136
@hsluoyz plz move this issue to https://github.com/pycasbin/sqlalchemy-adapter

[2021-04-09 13:04] hsluoyz commented on #136
Moved to: https://github.com/pycasbin/sqlalchemy-adapter/issues/32

[2021-04-09 13:04] #136 closed

[2021-04-09 16:58] #135 closed

[2021-04-09 16:58] #137 closed

[2021-04-09 17:00] techoner commented on #135
@hsluoyz @nathanschepers  Fixed in #17 .

[2021-04-09 17:23] hsluoyz commented on #135
@techoner you mean fixed in: https://github.com/casbin/pycasbin/pull/139 ?

[2021-04-09 17:27] hsluoyz commented on #135
@nathanschepers can you check if it's fixed in v1.0.1 ?

[2021-04-10 00:37] techoner commented on #135
Yes.

[2021-04-10 09:11] nathanschepers commented on #135
If looks good to me. Our unit test suite passes now with v1.0.1 of casbin.

[2021-04-12 07:55] techoner opened #140 "Change enforceEx() to enforce_ex()"

[2021-04-12 08:22] hsluoyz commented on #140
@Zxilly

[2021-04-12 08:49] #140 closed

[2021-04-12 09:24] hsluoyz commented on #140
:tada: This issue has been resolved in version 1.0.2 :tada:

The release is available on:
- `v1.0.2`
- [GitHub release](https://github.com/casbin/pycasbin/releases/tag/v1.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-16 09:14] techoner opened #144 "Implement redis watcher"
Repo: https://github.com/pycasbin/redis-watcher

[2021-05-08 05:44] leeqvip opened #148 "glob_match() is different from other languages"
https://github.com/casbin/pycasbin/blob/master/tests/util/test_builtin_operators.py#L88

[2021-05-08 07:03] hsluoyz commented on #148
We need to have the same behavior as Go.

[2021-05-08 07:07] hsluoyz commented on #148
@Zxilly

[2021-05-12 11:10] hsluoyz commented on #148
:tada: This issue has been resolved in version 1.0.5 :tada:

The release is available on:
- `v1.0.5`
- [GitHub release](https://github.com/casbin/pycasbin/releases/tag/v1.0.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-12 13:37] techoner commented on #148
Some tests are missing : https://github.com/casbin/casbin/blob/master/util/builtin_operators_test.go#L437

[code]
@Zxilly , @hsluoyz After adding it, some tests will fail  , see: https://github.com/facelessuser/wcmatch/issues/175

[2021-05-12 14:33] Zxilly commented on #148
@techoner Do you mean we should implement globMatch by our own, and apply it to different version of casbin?
It's obvious behavior of builtin `glob` in different languages are different.

[2021-05-12 14:51] dzzhvks94vd2 opened #151 "Missing dependency on wcmatch"
Dependency on `wcmatch` was added in the `requirements.txt` file, but not in `setup.py`. Breaking installation from `pip` or similar systems.

[2021-05-12 15:56] hsluoyz commented on #148
@techoner https://github.com/facelessuser/wcmatch/issues/175#issuecomment-835148652

Can we find a global standard for glob matching? Like everyone should follow?

[2021-05-13 01:40] #151 closed

[2021-05-13 13:34] tl24 commented on #119
I started to look in to maybe doing this, but then I realized that rather than allow you to pass in the logger if casbin would use a named logger rather than the root, it would allow people to configure it externally.  In python all calls to getLogger with the same name return the same logger instance.  Example:

[code]

In user code:
[code]

You would do similar changes to the other places that c

[2021-05-14 03:58] hsluoyz commented on #119
@tl24 can you make a PR for it?

[2021-05-14 13:09] tl24 commented on #119
Sure

[2021-05-14 13:17] tl24 commented on #119
Here's the pull request: #153

[2021-05-16 06:48] #119 closed

[2021-05-20 21:43] tl24 opened #154 "enforce errors if enforcer is disabled"
When the enforcer is disabled via enable_enforce, calls to enforce fail.

[code]

I believe this occurred when adding enforce_ex support.  When checking if the enforcer is disabled it doesn't return a tuple like the other return points.

[2021-05-21 01:08] hsluoyz commented on #154
@Zxilly

[2021-05-21 01:12] Zxilly commented on #154
working on this

[2021-05-23 13:04] ffyuanda commented on #154
![image](https://user-images.githubusercontent.com/46557895/119261465-1ef50100-bc0a-11eb-80a6-4544882fd912.png)
When `self.enabled` is `False`, the `self.enforce_ex(*rvals)` function returns False, which is a `bool` and cannot be interpreted by iterable assignment.

[2021-05-23 13:25] hsluoyz commented on #154
@ffyuanda returning false is not correct return value type. See the API docs and Golang implementation:

- https://casbin.org/docs/en/management-api#enforceex
- https://github.com/casbin/casbin/blob/beedee2c0f86039b927863a4e9931e91421456a3/enforcer.go#L662-L666

[2021-05-23 14:06] #154 closed

[2021-05-23 14:09] hsluoyz commented on #154
:tada: This issue has been resolved in version 1.1.0 :tada:

The release is available on:
- `v1.1.0`
- [GitHub release](https://github.com/casbin/pycasbin/releases/tag/v1.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-23 14:10] hsluoyz commented on #52
Closed as resolved.

[2021-05-23 14:10] #52 closed

[2021-05-24 04:11] lqmanh opened #156 "simpleeval.FunctionNotDefined: Function 'keyMatch3' not defined"
As the title says, it seems like pycasbin doesn't support `keyMatch3` and `keyMatch4` functions.

[2021-05-24 08:25] #156 closed

[2021-05-24 08:27] hsluoyz commented on #156
:tada: This issue has been resolved in version 1.1.1 :tada:

The release is available on:
- `v1.1.1`
- [GitHub release](https://github.com/casbin/pycasbin/releases/tag/v1.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-05 19:29] dhait opened #161 "rbac_with_domain_pattern -- not implemented?"
In casbin we find `rbac_with_domain_pattern_model` and `rbac_with_domain_pattern_policy`.  But these do not work with pycasbin.  Has this not been implemented?

[2021-06-05 19:51] dhait commented on #161
The following does not work: "alice" in "domain1" show have permission (because she is an "admin" in "*" domain) but it returns false.

    e = casbin.Enforcer("rbac_with_domain_pattern_model.conf","rbac_with_domain_pattern_policy.csv")
    e.add_named_domain_matching_func("g",casbin.util.key_match2)
    r3 = e.enforce("alice", "domain1", "data1", "read")

[2021-06-06 03:29] ffyuanda commented on #161
working on this

[2021-06-06 05:51] AmosChenYQ opened #162 "get_roles_for_user exmaple in docs fails"
The python example on the docs will failure with these information:

[code]

[2021-06-06 05:51] AmosChenYQ commented on #162
https://casbin.org/docs/en/get-started

[2021-06-06 05:57] AmosChenYQ commented on #162
Oh, the policy and model file is the defailt ACL in this [page](https://casbin.org/en/editor)

[2021-06-06 06:00] #162 closed

[2021-06-06 13:05] Zxilly commented on #161
@ffyuanda I have worked on this for a long time. I have to re-implement the base data-structure to achieve this. You can track the progress on https://github.com/Zxilly/pycasbin/tree/master

[2021-06-06 14:39] ffyuanda commented on #161
@Zxilly Sure you take the lead :)

[2021-06-07 15:43] captt-g commented on #161
@dhait I think my pr may solve your problem , please review, hope for your reply.

[2021-06-08 18:26] dhait commented on #161
Looks like you added the right tests and it passes, so it works for me! Thank you.

[2021-06-09 02:00] captt-g commented on #161
@dhait You are welcome.

[2021-06-15 16:51] gmc77 opened #167 "get_implicit_users_for_permission() incorrect"
Using the example from the code:

https://github.com/casbin/pycasbin/blob/fbbc6000f755c78726f24d26c45bdf9bda99b5d6/casbin/enforcer.py#L169

[code]

However just returns `['bob']`. This looks like the same logical error that was in casbin go and fixed last year:

https://github.com/casbin/casbin/issues/442

[2021-06-16 02:56] hsluoyz commented on #167
@Zxilly @ffyuanda

/cc @techoner

[2021-06-16 11:38] ffyuanda commented on #167
working on this

[2021-06-16 12:08] ffyuanda commented on #167
@gmc77 please take a look at #168

[2021-06-16 15:00] #167 closed

[2021-06-16 15:03] hsluoyz commented on #167
:tada: This issue has been resolved in version 1.1.3 :tada:

The release is available on:
- `v1.1.3`
- [GitHub release](https://github.com/casbin/pycasbin/releases/tag/v1.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-17 01:42] hsluoyz opened #169 "Use "github-actions" instead of my own GitHub username to send release notice"
What I saw now: https://github.com/casbin/pycasbin/pull/168#issuecomment-862457531

See similar: https://github.com/casbin/jcasbin/issues/190

[2021-06-17 01:42] hsluoyz commented on #169
@Zxilly @ffyuanda

[2021-06-17 06:45] #169 closed

[2021-06-27 14:15] #161 closed

[2021-06-28 10:46] natbusa opened #171 "add_named_matching_func not fully functional in 1.2.0"
Hi, there is some change applied in 1.2.0 which is preventing the following code and rules to run as they were in 1.1.3
The policy was working fine in 1.1.3. I believe it has something to do with "g2", add_named_matching_func and fm functions

code:
[code]

rbac.conf:
[code]

policy.csv
[code]

expected:
`root@localhost, /, org.create` -> PASS (get a FAIL in 1.2.0)

[2021-06-28 14:33] techoner commented on #171
@Zxilly

[2021-06-28 14:43] Zxilly commented on #171
working on this

[2021-06-28 14:50] natbusa commented on #171
many thanks :pray:

[2021-06-29 06:06] Zxilly commented on #171
@natbusa Hello, could you please provide more infomation about your environment? I created a unit test https://github.com/Zxilly/pycasbin/commit/dc9bbff092967344f0b04a9537e53f658e8cd464 to test the situation, but I failed to reproduce.

[2021-06-29 08:13] natbusa commented on #171
Hi @Zxilly I confirm your findings, and I was able to isolate the problem further.
It happens when there are multiple g2 rules (which I had removed for simplicity, but indeed did not trigger the error)

[code]

I have re-run the test in a clean conda python 3.8 environment with only casbin pip installed (1.1.3 vs 1.2.0)
What happens is that somehow the g2 rule `g2, *.create, admin` and the `g2, *.

[2021-06-29 10:24] ffyuanda commented on #171
@natbusa Hi natbusa, just curious (might not direcrly relate to the issue), I see your policy definition `[policy_definition]
p = sub, obj, role`.
I believe in the convention of casbin the `role` here should be `act`?
And in the matcher you wrote `g2(r.act, p.role)`, are you intending to classify an `act` under a `role`?

[2021-06-29 12:03] natbusa commented on #171
Hi @ffyuanda , happy to provide more context. I have designed an rbac which was putting together users, groups and resources and also with a mechanism capable of matching roles to api actions defined as `scope.verb` as in `org.create` or `article.update`

So as you see above the request has an action for example 'org.create' while the user has a role for example 'admin' (indirectly via a group 'ro

[2021-06-29 17:46] Zxilly commented on #171
I have located the problem. It was because role manager will use the first gRule hit by matching_func to judge the link between the roles. In this example, it's `*.create` and `org.create`, and g2() return false immediately.
I will later fix this.

[2021-06-29 17:57] Zxilly commented on #171
@natbusa Can I add your configuration files to our unittests as a side-case?

[2021-06-29 22:33] natbusa commented on #171
@Zxilly you can add to the unittests . Many thanks for locating the problem!

[2021-06-30 02:20] #171 closed

[2021-07-15 07:40] GeekDot opened #175 "SQLAlchemy adapter object has no attribute update_policy"
Source code：
[code]

Running results：

[code]

SQLAlchemy adapter object has no attribute update_policy, hope the author add, thank you！(:

[2021-07-15 07:42] #175 closed

[2021-07-15 08:49] GeekDot opened #176 "SQLAlchemy adapter object has no attribute update_policy"
Source code：
[code]

Running results：

[code]

SQLAlchemy adapter object has no attribute update_policy, hope the author add, thank you！(:

[2021-07-15 08:51] ffyuanda commented on #176
Will look at it sooner :)

[2021-07-15 11:28] hsluoyz commented on #176
@GeekDot hi, this is the wrong place. Please send the issue to: https://github.com/pycasbin/sqlalchemy-adapter/issues

[2021-07-15 11:28] #176 closed

[2021-07-16 02:08] GeekDot commented on #176
OK, I'll go now. Thank you.

[2021-07-16 02:08] GeekDot commented on #176
OK, I'll go now. Thank you.

[2021-07-16 03:39] hsluoyz commented on #176
Moved to: https://github.com/pycasbin/sqlalchemy-adapter/issues/41

[2021-08-01 16:19] DarcJC commented on #120
This might temporarily fix the problem if someone need `SyncedEnforcer` ?

[Code](https://gist.github.com/DarcJC/4d2cfefe0efbf70015233bb886b24e70)

[2021-08-01 16:22] ffyuanda commented on #120
@DarcJC will take a look, thanks!

[2021-08-06 02:36] killswitch-GUI opened #178 "ABAC eval not working with empty dict"
Model:
[code]

Policy:
[code]

When attempting to eval the following:

[code]

Raises the following:
[code]

I attempted this within the online editor and it works fine. Sorry if I'm missing something. New PyCasbin user here!

[2021-08-06 03:34] hsluoyz commented on #178
@Zxilly @ffyuanda

[2021-08-06 09:58] ffyuanda commented on #178
I'm checking the issue...

[2021-08-06 12:12] ffyuanda commented on #178
@killswitch-GUI

Hi, I've been checking the issue, and I think I have found the problem.

It has nothing to do with the `empty dict` or malfunction of PyCasbin, only your usage might be wrong.

Basically you need to build a `class` to use ABAC model, you cannot use it like the RBAC or other models in Casbin, and you can find its correct usage [here](https://casbin.org/docs/en/abac).

The `Attribut

[2021-08-06 12:46] killswitch-GUI commented on #178
@ffyuanda thanks for getting back with me! I'll take a look now.

[2021-08-06 12:49] ffyuanda commented on #178
@killswitch-GUI Sure, I've just updated my comment above, you can check it now.

[2021-08-06 12:50] killswitch-GUI commented on #178
@ffyuanda  we are actually implementing this within FastAPI and using primary Pydantic to model the data. we have been doing `model.dict` and passing it along. Do you think there is a better way of doing this?

[2021-08-06 13:28] killswitch-GUI commented on #178
Ok so putting in a Pedantic model does work. But like you said it still requires the "object" that is going to evaluated and the field present.

[2021-08-06 13:33] ffyuanda commented on #178
@killswitch-GUI yeah the object is needed to use ABAC. If you insist using a `dict` in this case, might you wanna use a `defaultdict` and pass in all the possible attributes? At least the attribute error can be resolved?

[2021-08-06 13:34] ffyuanda commented on #178
This can work I think. Just make sure `object` all the way down :)

[2021-08-06 13:39] killswitch-GUI commented on #178
@ffyuanda  if this works within the Casbin editor should this issue be raised to simpleeval?

You can it working at: https://casbin.org/casbin-editor/#7MX2727D9

[2021-08-06 13:52] ffyuanda commented on #178
@killswitch-GUI Since the [Casbin editor](https://github.com/casbin/casbin-editor) is built on Javascript and Node.js (on the [Node.js version](https://github.com/casbin/node-casbin) of Casbin), I believe the issue may not be reproduced when you use the editor. But yeah I think it could work better for our scenario if simpleeval spits out a `False` instead of error.

But generally I think simpleev

[2021-08-06 13:56] ffyuanda commented on #178
And if you feel this issue is not needed anymore, please close it when you leave :)

[2021-08-06 14:00] Zxilly commented on #178
@ffyuanda We can catch the possible error and return False in `enforce()`, but I don't know if that's necessary.

[2021-08-06 14:02] ffyuanda commented on #178
@Zxilly I don't think it's quite necessary, since this error comes from the nature of ABAC model.

[2021-08-06 14:11] killswitch-GUI commented on #178
@Zxilly and @ffyuanda since PyCasbin is already monkey patching we just rewatched it to work. Before I close this, what would you suggest the right way is to use ABAC/Policy here. You seemed to hint we may be misusing it.

[code]

It passed our test suite as well 🎉

[2021-08-06 14:22] ffyuanda commented on #178
@killswitch-GUI I don't quite suggest change PyCasbin or simpleeval. You should instead follow the "object all the way down" logic when you use A(ttribute)BAC.
And BTW ![image](https://user-images.githubusercontent.com/46557895/128524385-cd698fd2-41ac-47a1-a009-7064239398eb.png)
this is working simply because you set
[code]
It evaluates the first line in policy and turns out to be True and ignored

[2021-08-06 14:26] killswitch-GUI commented on #178
@ffyuanda we used this on our production models as example:

policy:
[code]

Model:
[code]
worked good! to be 100% we are mixing RBAC and ABAC here.

[2021-08-06 14:30] ffyuanda commented on #178
Sure then that's great.

Though I didn't see any RBAC definition around here haha, it contains a `g` normally in the Model. You are using pure ABAC but with "RBAC mindset" here if I'm not mistaken.

Anyway, happy using PyCasbin!

[2021-08-06 14:32] killswitch-GUI commented on #178
100% using that ` r.sub.is_superuser == True` as more of a ABAC rule, like you said mindset haha. Thanks so much @ffyuanda ~!!

[2021-08-06 14:32] #178 closed

[2021-08-06 14:33] ffyuanda commented on #178
@killswitch-GUI Sure, no worries!

[2021-08-06 15:12] hsluoyz commented on #144
Moved to: https://github.com/pycasbin/redis-watcher/issues/1

[2021-08-06 15:12] #144 closed

[2021-08-10 15:55] learning233 opened #179 "add_matching_func() doesn't work"
python 3.9  + Fastapi + asynccasbin

Add a matching func:

`enforcer.get_role_manager().add_matching_func(key_match_func)`

It can be printed out:

`print(self.enforcer.get_role_manager().matching_func)         # <function key_match_func at 0x000001986598CA60>
 return self.enforcer.enforce(user, path, method)`

Test:

The same account, two testing requests, matched but returned forbidden.

`g2,/ab

[2021-08-10 16:30] Zxilly commented on #179
plz use `add_named_matching_func`, like

https://github.com/casbin/pycasbin/blob/bbe45ad8a526477d0c0ca3c3915896e85cbfb2f4/tests/test_enforcer.py#L228

[2021-08-11 01:22] hsluoyz commented on #179
@learning233 plz change to English

[2021-08-15 01:24] aprey10 opened #180 "Multiple request, policy, effect, matcher type support"
Hi guys!

Are you planning to add support for multiple requests, policies, etc. that was released in casbin [v2.35.0](https://github.com/casbin/casbin/releases/tag/v2.35.0)?

[2021-08-15 02:07] ffyuanda commented on #180
@aprey10 will do!

[2021-08-15 12:29] ffyuanda commented on #180
I'm now working on this.

[2021-08-16 13:01] ffyuanda commented on #180
@aprey10 plz take a look

[2021-08-16 14:28] aprey10 commented on #180
Wow, that was quick!

Thanks a lot!

[2021-08-17 13:23] #180 closed

[2021-08-23 12:59] techoner opened #182 "Implement key_match4() built-in function"

[2021-08-23 13:08] ffyuanda commented on #182
working on it

[2021-08-28 00:40] ffyuanda opened #184 "About website URL"
We might want to remove the slash.
![image](https://user-images.githubusercontent.com/46557895/131200656-32d9ddde-840c-4151-ae57-d72fc6a764af.png)

[2021-08-28 02:47] hsluoyz commented on #184
@ffyuanda removed

[2021-08-28 02:47] #184 closed

[2021-08-29 08:58] hsluoyz commented on #179
Closed as resolved.

[2021-08-29 08:58] #179 closed

[2021-09-08 14:04] techoner opened #187 "Implement subjectPriority"
@ffyuanda

[2021-09-08 14:07] ffyuanda commented on #187
will do

[2021-09-08 16:36] hsluoyz commented on #187
@MRGUOKING plz fix the label inaccuracy:

![image](https://user-images.githubusercontent.com/3787410/132549405-00649c28-6dab-470e-be00-b63112c8c65f.png)

[2021-09-15 15:21] tl24 opened #188 "FunctionMap functions are shared between enforcers"
I was having some issues with my unit tests in my project involving casbin and came to the realization that casbin functions are shared between enforcers.  Is this the intent?

Relevant code for FunctionMap below:
[code]

Since the fm property is assigned a dict instance in its initializer, that dict instance is shared across all instances of FunctionMap. The issue I was having in my tests was tha

[2021-09-15 15:57] Zxilly commented on #188
I need to check if this behavior exists in golang version.

[2021-09-15 16:00] techoner commented on #188
@tl24  Hi, you are right, `fm` should belong to the instance attribute .

[2021-09-16 01:03] #188 closed

[2021-09-16 02:50] ffyuanda commented on #187
since we don't have priority support in model yet, I will do this one first
https://github.com/casbin/casbin/commit/49b7fe8b50c780f49191fc4c7d35e76ab9012121#diff-a5ce247e55d5a20707517e34bef620f2eb369b4f9b8fa44fdfb2c18a702418e8

[2021-09-28 05:53] SwagatSBhuyan opened #192 "Solving "charmap" problem in setup.py script for Windows installation"
An encoding for "utf-8" needs to be added to the setup code for facilitating setup in a windows environment.

ERROR MESSAGE BEFORE CHANGES (my local system):
Traceback (most recent call last):
File "setup.py", line 9, in
long_description = fh.read()
File "C:\Users\Swagat\anaconda3\lib\encodings\cp1252.py", line 23, in decode
return codecs.charmap_decode(input,self.errors,decoding_table)[0]
Unicode

[2021-09-28 06:18] hsluoyz commented on #192
@MRGUOKING plz fix the label, this issue should be labeled as "bug"

[2021-09-28 12:40] SwagatSBhuyan opened #195 "Getting started with pyCasbin [question]"
Hello, Swagat again. Sorry for the bother, but, can anyone just guide me as to how to use the casbin libraries efficiently? Is there any .conf files or .csv files I can play around with, using the pyCasbin Enforcers? Thanks in advance!

[2021-09-28 12:45] ffyuanda commented on #195
@SwagatSBhuyan My suggestion is to look at Casbin [official documentation](https://casbin.org/docs/en/overview) first, then play around with the [tests](https://github.com/casbin/pycasbin/blob/master/tests/test_enforcer.py), they are connected to examples, so you can understand better with the expected results of the test scripts.

You can even set a few breakpoints if you want to know the underly

[2021-09-28 12:53] SwagatSBhuyan commented on #195
OK, thanks!

[2021-09-28 13:00] lqmanh opened #196 "Unable to install with setuptools >= 58"
Since v58, `setuptools` has dropped supporting `use_2to3` option, which leaded to an error when installing `simpleeval`.
However, the library is pretty unmaintained. There were a few issues and PRs created but none was accepted and merged, yet.

Maybe `pycasbin` should use a fork instead, temporarily at least?

[2021-09-28 13:30] hsluoyz commented on #195
@SwagatSBhuyan you can also play with the online editor: https://casbin.org/en/editor

[2021-09-28 13:30] #195 closed

[2021-09-29 08:58] w-Bro opened #198 "simpleeval.FunctionNotDefined: Function 'KeyMatch4' not defined, for expression 'r_sub == p_sub and KeyMatch4(r_obj, p_obj) and r_act == p_act'."
version show below with `pip list`
[code]
rule.conf
[code]

[2021-09-29 09:40] #198 closed

[2021-09-29 09:41] techoner commented on #198
@w-Bro It has been fixed in #199

[2021-09-30 07:27] w-Bro commented on #198
got it, thanks a lot!

[2021-10-04 08:24] stuartbeattie84 opened #200 "get_implicit_permissions_for_user() not returning role permissions"
Hi,

I think I've found an issue with get_implicit_permissions_for_user().  It seems to not return permissions granted by a role.

For example if I have this policy:

g, alice, admin
p, alice, /resourceA, READ
p, admin, /resourceB, READ

get_implicit_permissions_for_user(alice) will return /resourceA but not /resourceB.

[2021-10-04 08:35] #200 closed

[2021-10-04 08:35] stuartbeattie84 commented on #200
Closing - user error I think.

[2021-10-04 10:35] stuartbeattie84 opened #201 "Issues with request/policy definitions using domains"
Hi,

I've been having a few issues with using domains.

I have a model.conf with the following request definitions:

[request_definition]
r = sub, dom, obj, act

[policy_definition]
p = sub, dom, obj, act, regx

the order is based on the example [here](https://casbin.org/docs/en/rbac-with-domains).

However, putting the domain in this position breaks Enforver.get_all_objects() as it expects object

[2021-10-04 13:47] techoner commented on #192
Fixed by #194 .

[2021-10-04 13:47] #192 closed

[2021-10-04 14:02] techoner commented on #201
@stuartbeattie84 ，You can modify matchers like this :
[code]
Then the order of the policies is consistent with the model definition :
[code]

[2021-10-17 08:11] okapies opened #202 "Can I describe an access control models by Python instead of PML?"
The [document](https://casbin.org/docs/en/syntax-for-models) says we need to use the dedicated language called PML for describing an access control model for `Enforcer`. But it seems it is convenient if we implement in the host language (Python in this case) in terms of familiarity (which makes it less error-prone), type-safety, debuggability and performance (as mentioned in the note). Do you have

[2021-10-18 06:43] techoner commented on #202
@okapies  We provide an online editor for syntax checking and debugging .The use of model configuration has higher flexibility and cross-language versatility . Do you have any good ideas about DSL instead of PML ?

[2021-10-18 10:02] #202 closed, assigned to hsluoyz

[2021-10-24 02:17] hsluoyz commented on #196
@elfisworking can we update this to >= 0.9.11 ?

https://github.com/casbin/pycasbin/blob/6f42bdad5d219620dba9ca2bf7e356dddfba9522/requirements.txt#L1

[2021-10-24 02:26] elfisworking commented on #196
ok

[2021-10-24 02:51] #196 closed

[2021-10-29 01:41] Checho3388 opened #204 "Casbin policy file expects ", " literal as separator"
Hi!,
I spent so much time today finding why my policies were not loaded. Recently found that `load_policy_line` expects literal `", "` (with a space after the comma) to split tokens. This is different from the behavior shown in https://casbin.org/en/editor.

I think a better practice could be to split by "," and then strip white spaces. For example:
[code]

[2021-10-29 15:32] #204 closed, assigned to hsluoyz

[2021-11-03 11:02] abichinger opened #206 "Default role manager does not behave as expected"
There are still some cases in which the `RoleManager` does not behave as expected.

The examples use the following RoleManager:
[code]

1. `alice` should inherit the role `user` in `domain1`
[code]

If the order in which the links are added is reversed, then this test passes.

2. `alice` should not get roles like `location_1/department_2`:
[code]

[2021-11-03 20:22] abichinger commented on #206
I started working on this issue by reimplementing the default role manager.
My current progress can be viewed on [this branch](https://github.com/abichinger/pycasbin/tree/fix/default-role-manager-2).

I tried to split the `RoleManager` calss into multiple classes:
- `CachedDomainRoleManager` <-- new default role manager
  - implements the `RoleManager` interface
  - manages multiple instances of `

[2021-11-04 01:33] hsluoyz commented on #206
@abichinger great!

@Wanderer @abingcbc @lyfer can anyone of you help work on this?

[2021-11-05 11:21] abichinger opened #208 "replace build_role_links with build_incremental_role_links if possible"
The following calls of `Enforcer.build_role_links` should be replaced with `Model.build_incremental_role_links`

[management_enforcer.py:214](https://github.com/casbin/pycasbin/blob/b1d13e34d40ead4499d87a49c4d0175bacc49fe4/casbin/management_enforcer.py#L214)
[management_enforcer.py:224](https://github.com/casbin/pycasbin/blob/b1d13e34d40ead4499d87a49c4d0175bacc49fe4/casbin/management_enforcer.py#L

[2021-11-06 03:10] hsluoyz commented on #208
@abichinger can you make a PR for it?

[2021-11-10 08:32] SwagatSBhuyan commented on #208
Let me make the necessary changes.

[2021-11-12 15:43] #208 closed

[2021-11-18 08:10] timabilov opened #212 "Domain based role inherit with pattern not work"
i am not sure if this is the duplicate of #206
This example seems to work on go casbin (web editor too) but not on python, why?

When we extend some role  with another one by  *pattern* domain, it doesn't work.

keymatch2 included `app.state.enforcer.add_named_domain_matching_func('g', casbin.util.key_match2)`
It works as a pattern matching only  if we directly enforce,

`print(casbin_fixture.enfo

[2021-11-18 10:49] timabilov commented on #212
It seems after #206 patch it works for role domain pattern matching.

[2021-11-18 10:49] #212 closed

[2021-11-18 13:55] #206 closed

[2021-11-18 13:55] hsluoyz commented on #212
@timabilov PR merged: https://github.com/casbin/pycasbin/pull/207

[2021-11-18 15:02] timabilov commented on #212
Thank you

[2021-11-18 18:17] timabilov opened #214 "Get permission for user in domain - filtering policies without domains"
Implementation of
https://github.com/casbin/casbin/issues/920

#213

[2021-11-19 01:48] hsluoyz opened #215 "There's no add_function() example for PyCasbin"
A user from StackOverflow: https://stackoverflow.com/questions/70016066/custom-function-in-casbin-matcher-in-pycasbin-for-restful-apis said that he doesn't know how to use the AddFunction() API in PyCasbin. In PyCasbin, it is called `add_function()`: https://github.com/casbin/pycasbin/search?q=add_function . But we still lack an example like Golang:

https://github.com/casbin/casbin/blob/a380d0052

[2021-11-19 01:51] hsluoyz commented on #215
@Abingcbc @sallycaoyu can anyone work on this?

[2021-11-20 01:16] #215 closed

[2021-11-20 01:21] hsluoyz opened #218 "Fix the GitHub Actions error"
https://github.com/casbin/pycasbin/runs/4270898147?check_suite_focus=true

![image](https://user-images.githubusercontent.com/3787410/142709264-450dcbc6-9a25-4039-b605-65db137b935c.png)

[2021-11-20 01:22] hsluoyz commented on #218
@sallycaoyu

[2021-11-20 20:22] sallycaoyu commented on #218
Fixed this bug in PR #219.

[2021-11-21 01:43] #218 closed

[2021-11-21 02:25] hsluoyz commented on #148
@sallycaoyu @Abingcbc can anyone add it like what I said: https://github.com/casbin/pycasbin/issues/148#issuecomment-952597256 ?

[2021-11-21 02:26] hsluoyz commented on #187
@sallycaoyu @Abingcbc we can work on this as next step

[2021-11-21 05:56] sallycaoyu commented on #148
I'll take a look at this.

[2021-11-21 06:01] #214 closed

[2021-11-21 06:37] sallycaoyu commented on #148
I was trying to add these test cases to tests/util/test_builtin_operators.py. The following test cases failed:

         1.  self.assertTrue(util.glob_match_func("/foo", "*/foo"))
         2. self.assertTrue(util.glob_match_func("/foo", "*/foo*"))
         6. self.assertTrue(util.glob_match_func("/foo/bar", "*/foo/*"))
         8. self.assertTrue(util.glob_match_func("/foobar", "*/foo*"))

Should

[2021-11-21 06:58] hsluoyz commented on #148
@sallycaoyu we should use Python's glob, it can work differently with Golang. We use the same test cases. If a test cases's results for Go and Python are different, we will add a comment like: # different with Go

[code]

[2021-11-21 07:28] sallycaoyu commented on #148
@hsluoyz Got it! Please review PR #220.

[2021-11-21 11:15] Abingcbc commented on #187
@hsluoyz What should we do besides this `subjectPriority` https://github.com/casbin/pycasbin/blob/master/casbin/effect/__init__.py#L19 ?

[2021-11-21 11:38] hsluoyz commented on #187
@techoner any advice for Abingcbc?

[2021-11-21 11:42] sallycaoyu commented on #187
Seems like we need to implement the subjectPriority model for PyCasbin from scratch?
Link to an example of subjectPriority: [https://casbin.org/docs/en/supported-models#examples](url)

Is it a good approach if we start by looking at how it has been implemented in other Casbin repos?
[https://github.com/casbin/casbin/search?q=subjectPriority&type=code](url)

Please give us more advice on this, than

[2021-11-21 11:44] Zxilly commented on #187
@sallycaoyu Casbin-go implement this model. You can refer to that.
But casbin-go and casbin-python have different effector implementation. You may need additional work to implement it.

[2021-11-21 11:49] sallycaoyu commented on #187
@Zxilly Thanks for the advice! I'll take a look at the effector first.

[2021-11-21 18:37] adriangabura opened #221 "re.error: nothing to repeat at position 1 on *"
[code]

[code]

[code]

I get a regex error when I try to do the above: "re.error: nothing to repeat at position 1"

Can you help me fix this thanks?

[2021-11-22 00:08] hsluoyz commented on #221
@sallycaoyu @Abingcbc

[2021-11-22 02:53] Abingcbc commented on #221
@adriangabura  I think the reason is that `keyMatch4` doesn't support `*`.

[2021-11-22 03:01] Abingcbc commented on #221
You can use `/*` instead of `*`.
For your example, the working model and policy are like following:

[code]

[code]

[2021-11-22 21:00] adriangabura commented on #221
yeah that solves it I believe, thanks!!!

but I have another question, I would like /users/ also to work, is that possible?

[2021-11-22 21:34] timabilov opened #223 "feat: get filtered policy matching function support for consistency"
To mimic matchers behaviour for matching pattern function now we can filter by functions for each index.

Maybe not ideal performant solution, but the only one to keep consistency at least

[code]

[code]

[2021-11-23 00:26] #221 closed

[2021-11-23 00:26] hsluoyz commented on #223
@sallycaoyu @abichinger @Abingcbc

[2021-11-23 01:22] abichinger commented on #223
@timabilov looks like a good enhancement without breaking anything.

You commented on [#920](https://github.com/casbin/casbin/issues/920#issuecomment-974630299)

I agree with you, that it would be great to reuse the internals of `matchers`.
Maybe we can refactor the code to make it reusable.

e.g. a call to `get_filtered_policy` could look something like that:
[code]
I'm not sure if these changes

[2021-11-23 10:46] timabilov commented on #223
For now i use that temporary solution, so for me thats fine with that.
BTW Also do not know much about evaluators, but still because it is some evaluator it may be worse performance wise.

But anyways, for consistency, maybe, i will take a look later when available, maybe it is not hard to implement that.
`e.get_filtered_policy('keyMatch2("domain.*", p.dom)'),`

[2021-11-24 15:26] KyleHassettStrongarm opened #224 "CasbinJsGetPermissionForUser support in pycasbin"
Support for CasbinJsGetPermissionForUser with the pyscasbin package would be a game changer.

Filing this ticket for exactly that.

[2021-11-25 04:07] hsluoyz commented on #224
@Abingcbc @sallycaoyu plz port this function to PyCasbin. You can refer to the Go and Node.js: https://github.com/search?p=1&q=org%3Acasbin+CasbinJsGetPermissionForUser&type=Code

[2021-11-25 15:38] hsluoyz opened #225 "[PyCasbin-on-CPP] Benchmark the slow part of PyCasbin as the preparation for PyCasbin-on-CPP"
There are many users complaining PyCasbin about its bad performance compared to Go or Java. This is mostly because that PyCasbin is a pure Python implementation of Casbin. A common practice for popular Python libs for this is using a C++ backend and wrapping it with a Python interface, like numpy, tensorflow, pytorch. We can do similar and this plan is named "PyCasbin-on-CPP".

Recently the Casbin

[2021-11-27 12:54] hsluoyz commented on #225
@sheny1xuan will work on the Casbin-CPP part.

@Abingcbc will work on the PyCasbin part.

Please work together.

[2021-11-27 15:56] #223 closed

[2021-11-28 05:57] Abingcbc commented on #225
If `pycasbin-on-cpp` is a standalone lib, should we replace all the APIs of PyCasbin with C++ or still replace the slow parts with C++?

[2021-11-28 06:03] Abingcbc commented on #225
BTW, should we write an RFC first like the one of TensorFlow https://github.com/tensorflow/community/blob/master/rfcs/20190208-pybind11.md
@hsluoyz

[2021-11-30 10:25] Zxilly commented on #224
@hsluoyz The old Casbin.js has been deprecated, do we need to continue to provide more support?

[2021-11-30 11:55] hsluoyz commented on #224
@Zxilly for this function we can support it

[2021-12-07 20:54] timabilov opened #227 "feat: get implicit permissions filter policies domain by matching function"
It was not possible to filter permissions by domain patterns in rbac permission api.
get_implicit_permissions for domain -  filters policies domains by domain matching function as well.

#226

[2021-12-07 22:26] KyleHassettStrongarm commented on #224
@hsluoyz @Zxilly Will something else be taking the place of casbin.js?

I followed the latest docs to create this issue on the casbin.js repo itself.

[2021-12-07 23:50] hsluoyz commented on #224
@abichinger plz implement `CasbinJsGetPermissionForUser()` in PyCasbin

[2021-12-08 02:44] #227 closed

[2021-12-09 04:55] Abingcbc commented on #224
What should `CasbinJsGetPermissionForUser()` return in PyCasbin? It returns byte array in `go` but returns string in `casbin.js`~

[2021-12-09 06:27] hsluoyz commented on #224
@Abingcbc good finding. Does it mean that one of Go and Node.js implementations are buggy? Can you take a look at the consumer side of this API: https://github.com/casbin/casbin.js ? What does it use as input? bytes or string?

[2021-12-09 07:37] Zxilly commented on #224
@hsluoyz The user needs to provide an interface on the server to return the return value of the function, which should be implicitly converted in this step

[2021-12-09 09:04] hsluoyz commented on #224
@Zxilly ok!

[2021-12-09 15:04] abichinger commented on #224
Why does the function `CasbinJsGetPermissionForUser(e IEnforcer, user string)` have the parameter `user`, when `user` is never used?

[2021-12-09 15:56] timabilov commented on #187
+ for this feature

[2021-12-09 16:06] hsluoyz commented on #224
@abichinger I think this is a historical issue. The `CasbinJsGetPermissionForUser()` naming already shows to get permissions from a user, but the actually returned permissions are all permissions and not just limited to one user.

[2021-12-09 16:10] #224 closed

[2021-12-09 16:11] hsluoyz opened #230 "Add Apache 2.0 license headers for all Python source files"
I found that all files are missing it.

[2021-12-09 16:19] hsluoyz commented on #230
@Abingcbc @abichinger

[2021-12-09 16:19] hsluoyz commented on #225
@Abingcbc good point!

[2021-12-11 08:33] #187 closed

[2021-12-15 00:53] #230 closed

[2021-12-15 01:46] hsluoyz opened #234 "Fix CI error"
New version is not released. See: https://github.com/casbin/pycasbin/runs/4528331951?check_suite_focus=true

![image](https://user-images.githubusercontent.com/3787410/146107749-d81891c2-9dda-40ee-9fc3-b7282a9426e7.png)

[2021-12-15 01:46] hsluoyz commented on #234
@abichinger @Abingcbc

[2021-12-15 02:52] abichinger commented on #234
The release failed with the following message:

Unfortunately I don't know how to fix it.
@hsluoyz have you tried to rerun the workflow?

I also tried to look at the release of v1.15.1 for comparison, but i couldn't find it.
Should be this run: https://github.com/casbin/pycasbin/runs/4501961372?check_suite_focus=true#step:7:25

[2021-12-15 03:24] hsluoyz commented on #234
@abichinger OK, thanks! This time suceeded: https://github.com/casbin/pycasbin/actions/runs/1578983983

[2021-12-15 03:45] abichinger commented on #234
@hsluoyz it didn't release v1.15.2

[2021-12-15 06:08] hsluoyz commented on #234
@abichinger

Why the local branch master is behind the remote one? How to fix this issue?

[2021-12-15 21:06] abichinger commented on #234
@hsluoyz It looks like the workflow checks-out 16e4f0a0f82ac93688e1b735b3da173929524107, which is one commit behind the remote (2f4fca50b7b8361d2d26ea93ee730dd6d000f645).

16e4f0a0f82ac93688e1b735b3da173929524107 is checked out because

https://github.com/actions/checkout

You could try the following to trigger a new workflow run:
[code]

[2021-12-16 20:04] timabilov opened #236 "fix: casbin enabled bug"
#235
according to  that  we should pass all requests

[code]

[2021-12-17 02:23] abichinger commented on #234
@hsluoyz This [run](https://github.com/casbin/pycasbin/runs/4555650980?check_suite_focus=true#step:7:116) released v1.15.2 successfully.

Unfortunatly I have still no clue why it failed the first time.

[2021-12-17 02:57] hsluoyz commented on #234
@abichinger thanks for troubleshooting! No worried as it finally got resolved automatically :)

[2021-12-17 02:57] #234 closed

[2021-12-17 02:58] hsluoyz commented on #236
Fixed by: https://github.com/casbin/pycasbin/pull/235

[2021-12-17 02:58] #236 closed

[2021-12-24 10:44] zhang-wujun opened #237 "Process support"
The current use of `SyncedEnforcer` can meet the multi-threaded situation, And is it possible for `Casbin` to support multi-process use in the future?

I try to modify on the basis of `SyncedEnforcer`. (The data mentioned below refers to the data in the memory)

1. Modify `_rwlock`, replace the thread read-write lock with the process read-write lock;
2. Multi-process data synchronization (addition

[2021-12-24 11:59] hsluoyz commented on #237
@pppigg Watcher is the correct mechanism for multiple Casbin instances' usage.

[2021-12-27 02:29] pppigg commented on #237
Will you consider supporting multiple processes in the future (similar to `SyncedEnforcer`), because it also involves operation synchronization.

[`pycasbin-redis-watcher`](https://github.com/ScienceLogic/pycasbin-redis-watcher) can solve the problem of data synchronization.

[2021-12-27 02:33] ffyuanda commented on #237
@pppigg Currently I'm working to bring an official support for `PyCasbin Redis Watcher`, it is in progress.
You can also refer to the [pycasbin-redis-watcher](https://github.com/ScienceLogic/pycasbin-redis-watcher) for now, though its implementation somehow differs from how Go implements the Watcher.

[2021-12-27 02:46] pppigg commented on #237
@ffyuanda Very much looking forward to it.

[2022-01-12 12:33] etienne-lebrun opened #238 "perf improvement : has_eval() in CoreEnforcer.enforce_ex"
Hello!
In a simple profile calling enforce a few times,looping over ~500 policies, I have noticed that I spend almost 10% of my time in casbin.util.has_eval.
I believe it could be avoided if we reused the `has_eval` variable computed out of the loop (line 369). It could also probably be cached in the Assertion object stored in `self.model["m"][mtype]`
https://github.com/casbin/pycasbin/blob/a16bfa

[2022-01-12 14:41] etienne-lebrun opened #239 "allowing more than 9 types of policies/requests"
With the current implementations, policies above p10 and requests above r10 do not work.
This is because these regexps only keeps a single digit: 
https://github.com/casbin/pycasbin/blob/a16bfaa669c37ac1598684e36b0319430ab749e5/casbin/util/util.py#L23
https://github.com/casbin/pycasbin/blob/a16bfaa669c37ac1598684e36b0319430ab749e5/casbin/util/util.py#L30
simply replacing the question mark by a sta

[2022-01-13 13:48] leeqvip commented on #238
@etienne-lebrun It should reuse `has_eval`, can you make PR ?

[2022-01-13 14:36] #238 closed

[2022-01-22 09:59] zhengchuan-bot opened #241 "update_policy"
i want to update_policy, but i got this error  in the line: if self.adapter.update_policy(sec, ptype, old_rule, new_rule) is False:
AttributeError: 'Adapter' object has no attribute 'update_policy'
here is my code :  e.update_policy(["admin", "/problem_update", "get"], ["admin", "/problem_update", "post"])

[2022-01-22 10:11] leeqvip commented on #241
@zhengchuan-bot Which adapter do you use ?

[2022-01-25 15:54] #241 closed

[2022-01-28 15:11] JGoutin commented on #225
Today, it is also more an more common to bind Python over Rust instead of C/C++. Casbin have a Rust implementation (marked as "Producton ready"). This can achieve the same performance gain, but also bring the Rust security benefits.

See: https://github.com/PyO3/PyO3

[2022-01-28 15:43] timabilov opened #243 "feat: functional remove filtered policy"
#242  draft

Right now its it not possible to implement filtered remove with lambdas
because this removal propagates to db adapters. and db query will crash with lambda filters.

However there is an option to remove all policies from memory and do save instead of removing right from database.
But i am not sure about data consistency (resetting all db and rewrite from memory)

I think that would be

[2022-01-28 16:41] hsluoyz commented on #225
@leeqvip @Abingcbc @EmperorYP7 @sheny1xuan  any comment on this?

[2022-01-28 16:45] hsluoyz commented on #243
@leeqvip

[2022-01-29 19:12] EmperorYP7 commented on #225
- I think C++ still has an edge due to the deeper integration capabilities with CPython than that of Rust's. `pybind-11` leverages the C API in Python to get close to the native level performance of C++ while being accessible in Python code.
- I believe that `pybind-11` is more mature than `PyO3` and has better developer support and community. (its just my opinion, not a fact)
- `pybind` is not ob

[2022-01-30 14:16] leeqvip commented on #243
@timabilov What problem is this proposal trying to solve?

[2022-01-30 14:19] #243 closed

[2022-01-30 14:19] timabilov commented on #243
closed issue. thanks.

[2022-02-07 04:01] SidharajYadav commented on #225
How i can contribute on this issuse

[2022-02-07 04:01] SidharajYadav commented on #237
How i can start contribute

[2022-02-07 04:15] hsluoyz commented on #237
@Abingcbc @fabian4

[2022-02-07 04:22] Abingcbc commented on #237
@ffyuanda Is there any updates on `pycasbin-redis-watcher`?

[2022-02-11 09:05] dalecb13 opened #244 "Error when constructing an Enforcer with a model string"
Hi all, I am trying to construct an enforcer with a model string and a StringAdapter and I basically get a null pointer error.

Version: 1.15.4

**Expected Result**
Enforcer is created without any errors

**Actual Result**
Gets a `'NoneType' object is not subscriptable` error when trying to construct `casbin.Enforcer(model=model_string, adapter=adapter), where model_string is a string and not a fi

[2022-02-11 09:20] leeqvip commented on #244
@dalecb13 The syntax of the model is wrong, the section is missing, please refer to: https://casbin.org/docs/en/syntax-for-models

[2022-02-11 09:27] dalecb13 commented on #244
Ok, yeah, after reading the source code further and tweaking the model string, it looks like the model string needs the following lines:

[code]

[2022-02-11 09:27] #244 closed

[2022-02-19 23:25] shepilov-vladislav opened #245 "Can you add new plugin to docs?"
https://github.com/shepilov-vladislav/ormar-casbin-adapter

[2022-02-20 01:16] hsluoyz commented on #245
@shepilov-vladislav thanks for the contribution! Plz make PR to: https://github.com/casbin/casbin-website

[2022-02-23 09:37] shepilov-vladislav commented on #245
@hsluoyz sure, https://github.com/casbin/casbin-website/pull/308

[2022-02-25 13:34] #245 closed

[2022-02-28 10:50] PyVCEchecker opened #246 "“python_requires” should be set with “>=3.6”, as casbin 1.15.4 is not compatible with all Python versions."
Currently, the keyword argument **python_requires** of **setup()** set incorrectly, and thus it is assumed that this distribution is compatible with Python 3.5.
However, I found it is not compatible with **Python<3.6**. My local Python version is 3.5, and I encounter the following error when executing __“pip install casbin”__

[code]

Dependencies of this distribution are listed as follows:
[code]

[2022-02-28 11:40] hsluoyz commented on #246
@leeqvip

[2022-03-08 02:48] leeqvip commented on #246
@Zxilly @hsluoyz  @PyVCEchecker  So, the best way to find a way to replace `wcmatch`, support Python3.3 and above.

[2022-03-08 03:03] Zxilly commented on #246
@leeqvip  We can make it an optional dependency, and import it dynamic if need.

[2022-03-08 03:42] leeqvip commented on #148
Despite the modification in #149, it is still different from other versions

[2022-03-08 07:40] hsluoyz commented on #246
@Abingcbc can you work on this?

[2022-03-10 14:50] Abingcbc commented on #246
@Zxilly Why should the version of `wcmatch` higher than 8.1.2?

[2022-03-10 15:13] Zxilly commented on #246
@Abingcbc It's not required.

[2022-03-10 15:15] hsluoyz commented on #246
@Abingcbc plz downgrade to a version that is compatible with Python3.3 and above

[2022-03-11 04:31] leeqvip commented on #246
@hsluoyz @Abingcbc @Zxilly  `wcmatch` is not the best choice, it will still be different from other languages , see: https://github.com/casbin/pycasbin/issues/148#issuecomment-1061374750
It is necessary for us to implement it ourselves, There are two references :
1. [fnmatch.c (C)](http://[web.mit.edu/freebsd/csup/fnmatch.c](http://web.mit.edu/freebsd/csup/fnmatch.c))
2. [path.Match (Go)](https://

[2022-03-11 05:23] hsluoyz commented on #246
@PyVCEchecker @Abingcbc can you implement it?

[2022-03-11 05:36] Abingcbc commented on #246
There is another problem. The `black` in `requirement_dev.txt` also requires python version higher than 3.6. So maybe there are two solutions for this:
1. Do not install `requirement_dev.txt` in CI
2. Replace `black` with other code formatter

[2022-03-11 06:03] leeqvip commented on #246
@Abingcbc  The lint step can be run only in 3.6+ .

[2022-03-11 06:58] Abingcbc commented on #246
So we should not install develop requirments in `test` step ？

https://github.com/casbin/pycasbin/blob/725715fc04b3f37f26eb4be1ba7007ddf55d1e75/.github/workflows/build.yml#L26-L32

[2022-03-11 07:20] hsluoyz commented on #246
@leeqvip @Abingcbc maybe we should just run CI for 3.6+ , but allow the dist to run for 3.3+. Is this OK?

[2022-03-11 07:51] #246 closed

[2022-04-09 19:07] wu-clan opened #250 "remove_grouping_policy: link between string and string does not exist"
When I use remove_grouping_policy as I use remove_policy, it happend raise: RuntimeError: error: link between string and string does not exist, but g only have two values, so, how i need to do or is this a question?

[2022-04-10 02:34] hsluoyz commented on #250
@wu-clan please show all your code, including the model, policy, request and response.

[2022-04-10 09:45] wu-clan commented on #250
[code]
my db text:
![image](https://user-images.githubusercontent.com/52145145/162611931-2825d061-f12e-4e1f-a811-a4d20702762b.png)

This should be a classic RBAC

when i send request delete_policy api, when the parameter does not exist, it can return False

but when i send request delete_group api like delete_policy, it happend:
[code]
Is there a mistake in my method of use?

[2022-04-10 09:47] wu-clan commented on #250
The model is here:
[code]

[2022-04-10 13:32] hsluoyz commented on #250
@leeqvip

[2022-04-10 15:04] leeqvip commented on #250
@wu-clan  Try get_policy() and get_grouping_policy() to see if the policy is loaded successfully.

[2022-04-13 07:28] Shivansh-yadav13 commented on #250
@wu-clan can you cross-verify that the arguments you are passing are correct according to the grouping policy you have because I guess the error raised should show the grouping terms you are trying to remove rather than `"string"`
eg `RuntimeError: error: link between data2_admin and alice does not exist`

[2022-04-13 11:05] wu-clan commented on #250
@Shivansh-yadav13 Yes, string is just the parameter I passed, if the parameter is 'data2_admin' and alice, it raise:
[code]
but, when params is not in db, is it should be return False like remove_policy()? Not throwing an exception, and g have only two params, why need link between params? Or am I used it the wrong way?

[2022-04-13 16:02] Shivansh-yadav13 commented on #250
not sure if we should be returning False for it like `remove_policy()` but about links between params mean group-based access rights only

[2022-04-13 16:21] wu-clan commented on #250
It seems that there is no problem. Based on this situation, g is complex. If you add a parameter to specify the situation, for example: use_policy=Ture, or create a new func?

[2022-04-15 04:40] jeff-bonevich opened #251 "core_enforcer.set_role_manager() overriden on loading policy"
I have the following example code:
[code]

which outputs the following when run:
[code]

It looks to me as though load_policy() calls self.init_rm_map() which forces the role manager back to either a default RoleManager or DomainManager.

How can I override the default RoleManager to load roles from my own source?

[2022-04-15 14:11] hsluoyz commented on #251
@leeqvip @ffyuanda @Abingcbc

[2022-04-15 15:36] jeff-bonevich commented on #251
Maybe something like the following?
[code]

[2022-04-16 00:58] hsluoyz commented on #251
@jeff-bonevich can you check how Golang implements this? https://github.com/casbin/casbin

[2022-04-16 09:29] Abingcbc commented on #251
Go version doesn't call `initRmMap` in `loadPolicy`.
https://github.com/casbin/casbin/blob/b993a944ff99882cb4b13f4b53c143cbe2d8cded/enforcer.go#L282-L296
It is reasonable because `loadPolicy` just change the policy but doesn't change the model. So there is no need to reinitialize the role manager again.

We can simply remove this line. I have tried and all test cases can still be passed.
https://g

[2022-04-16 09:51] #251 closed

[2022-04-17 17:27] jeff-bonevich opened #253 "[Feature] Allow permissions management to use additional p-types"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**Is your feature request related to a problem? Please describe.**

Permissions managements is tied to 'p' p-type and does not allow one to use alternate p-types (p2, p3, etc)

**Describe the solutio

[2022-04-18 08:53] hsluoyz commented on #253
@tangyang9464 I think path 1 is viable.

[2022-04-28 14:41] Nekotoxin commented on #253
I'll work on it

[2022-04-30 04:02] #253 closed

[2022-04-30 04:07] #148 closed

[2022-04-30 05:37] Nekotoxin commented on #253
Hi there! We've added the get_named_implicit_permissions_for_user(self, ptype, user, *domain, filter_policy_dom=True) api for enforcer, now you can call it and get the implicit permissions of specified policy.
Thanks for your issue.

[2022-04-30 05:39] Nekotoxin commented on #253
Hi there! We've added the get_named_implicit_permissions_for_user(self, ptype, user, *domain, filter_policy_dom=True) api for enforcer, now you can call it and get the implicit permissions of specified policy.
Thanks for your issue.

[2022-04-30 08:23] Nekotoxin commented on #253
@jeff-bonevich  Hi there! We've added the get_named_implicit_permissions_for_user(self, ptype, user, *domain, filter_policy_dom=True) api for enforcer, now you can call it and get the implicit permissions of specified policy.
Thanks for your issue.

[2022-05-10 04:40] pacificsky commented on #225
I'm curious if there's been any progress in implementing pycasbin-on-cpp or if this issue is basically stalled?

[2022-05-10 05:02] hsluoyz commented on #225
@EmperorYP7 @sheny1xuan what's the current status for pycasbin-on-cpp?

[2022-05-11 12:09] cs1137195420 opened #258 "remove_grouping_policy: If there are duplicate group rules, remove_grouping_policy will be invalid"
I accidentally created two identical group rules in mysql, and then when I called the remove_grouping_policy function, I found that it failed to delete. There were still two identical group rules in mysql. So, should the remove_grouping_policy function remove all the same grouping rules?

[2022-05-12 10:19] abichinger commented on #258
@cs1137195420 I tried to remove duplicate rules with `remove_grouping_policy` and it worked for me.
Example:
[code]
output:
[code]
Can you try this example with peewee.MySQLDatabase?

[2022-05-12 12:45] cs1137195420 commented on #258
I tried it with peewee.MySQLDatabase, and my program also printed OK. However, when I called the add_grouping_policy, CasbinRule.create and remove_grouping_policy functions respectively, the error reappeared.
The error appeared in this way:

1. First run the following code

[code]
output:
[code]

2. Next run the following code
[code]
output:
[code]

Can you try again in this way?

[2022-05-12 14:50] cs1137195420 commented on #258
@abichinger In case there are duplicate entries in the adapter, should ```remove_grouping_policy``` delete all of them?

[2022-05-12 14:56] hsluoyz commented on #258
@cs1137195420 @abichinger plz see how Golang Casbin works

[2022-05-13 02:08] #250 closed

[2022-05-13 11:31] abichinger commented on #258
I would say yes, but that's something the adapter has to do.

We could fix this issue, if we use [`Policy.add_policy`](https://github.com/casbin/pycasbin/blob/a42a5904a8daa539ca61e2ec7a117af2df4a3222/casbin/model/policy.py#L100) inside [`persist.load_policy_line`](https://github.com/casbin/pycasbin/blob/a42a5904a8daa539ca61e2ec7a117af2df4a3222/casbin/persist/adapter.py#L16), instead of directly mo

[2022-05-13 17:24] cs1137195420 commented on #258
Sure, I would like to.

[2022-05-20 12:55] #258 closed

[2022-09-13 10:11] ashwani-dumca opened #271 "Can we define precedence order in model.conf file and accordingly policies will be returned back to user in get_filtered_policy"
Hi Team, here is my question. Please check the below editor link for understanding it better.

For Example: https://casbin.org/casbin-editor/#GVULQJXXD

So for the first request: ashwani@company.com, *, *, *, *
Role that will be used is : g, ashwani@company.com, admin@company.com

For 2nd request this : ashwani@company.com, nm5, *, *, *
Role that will be used: g, ashwani@company.com, leads@company

[2022-09-13 12:07] hsluoyz commented on #271
@Nekotoxin

/cc @leeqvip

[2022-09-13 12:10] Nekotoxin commented on #271
![image](https://user-images.githubusercontent.com/75596353/189897147-c64a363f-1e95-44d0-b657-95c3dbd2f8c7.png)
@ashwani-dumca Hello. What kind of results do you expect?

[2022-09-13 12:11] Nekotoxin commented on #271
In casbin. a user can have multiple roles. The enforcer will choose one suitable outcome

[2022-09-13 12:20] ashwani-dumca commented on #271
@Nekotoxin thank you for your reply. Say from casbin my question is:

1) For user ashawni@company.com give me the highest access he has ?
Procedure 1 might use:
- Use method **get_implicit_roles_for_user** which will give me all the roles ( admin, leads, dev)
2) Then get all the policies for admin, leads, dev using : **get_filtered_policy** by just passing the above roles.
 Now I know admin is the

[2022-09-13 12:25] ashwani-dumca commented on #271
Second question i have is: Say in my case **act** is relevant to access_type ( READ, WRITE, ADMIN). ADMIN has most precedent than WRITE than READ. As of now I have to define 3 policy

p, user_1, data1,admin
p, user_1, data1,write
p, user_1, data1,read

Ideally, I want to say if some one having admin access on data1 ( WRITE and READ) should be part of it. How I can define that precedence or hierarc

[2022-09-13 12:29] Nekotoxin commented on #271
1.yes, enforcer default give the highest access he has
2.For **p, user_1, data1,admin**, you can use p, user_1, data1, (write | read) to reaching the goal because the conf support regex.

[2022-09-13 12:38] ashwani-dumca commented on #271
For 1st you might be  considering I am giving the input of request as:
**ashwani@company.com, *, *, *, ***

But I what if I am not giving this as request. Instead i am just giving ashwani@company.com and wants casbin to return me the highest access he has. How I will go about this ? And what would be the result ideally casbin should return me ?

As I defined **admin@company.com** has every access

[2022-09-13 12:46] Nekotoxin commented on #271
![image](https://user-images.githubusercontent.com/75596353/189904348-71623e7e-406b-4a2d-a2e5-937ddf247579.png)
You can use the role inherit. Such as the example, the admin has the highest acess, the you assign the admin to a user

[2022-09-13 12:48] Nekotoxin commented on #271
In you case, you can let the admin@company.com inherit from dev@company.com and leads@company.com. then assign the admin role to ashwani@company.com

[2022-09-13 12:56] ashwani-dumca commented on #271
Using above approach, if I am doing this:

[code]

result will be just` [p, admin@company.com, *, *, *, *, allow]` ? Or it will be` [[p, admin@company.com, *, *, *, *, allow], [p, leads@company.com, region1, *, *, *, allow], [p, leads@company.com, region2, *, *, *, allow], [p, dev@company.com, region3, 2, *, *, allow], [p, dev@company.com, region2, 2, *, *, allow], .......]  `

[2022-09-13 13:17] ashwani-dumca commented on #271
1 more example : https://casbin.org/casbin-editor/#F9QGCUT5T

In this case: I want to define the precedence for various attributes I have used over my policy definition. For e.g
[code]

Now If user is just asking me give me the highest access for "ashwani@company.com" ,  which is `p, admin@company.com, prod_env, 4, *, *, allow`. Because this policy in terms for precedence that I have defined above

[2022-09-13 13:18] Nekotoxin commented on #271
![image](https://user-images.githubusercontent.com/75596353/189911254-10133b04-f0c5-4cd6-90d9-b9afa950ed19.png)
![image](https://user-images.githubusercontent.com/75596353/189911346-b8b65ba0-3209-4d8d-a416-2289ea2ae79d.png)

[2022-09-13 13:23] Nekotoxin commented on #271
The definition of priority is now not supported. You can go to casbin/casbin to raise new feature requests if required.
From my point of view, the problem can be solved by inheritance, admin > leads > dev, so that leads can inherit from the role dev and admin can inherit from leads. the end of the inheritance chain naturally has the highest authority, and you can return this directly.

[2022-09-13 13:33] ashwani-dumca commented on #271
Thank you @Nekotoxin , it was very helpful discussion. Will try building up the use case in my project. will get in touch soon on this.

[2022-09-13 13:51] #271 closed

[2022-10-22 15:33] GHNSL opened #273 "load_policy changed the old model"
in core_enforcer.py
    def load_policy(self):
        """reloads the policy from file/database."""
        need_to_rebuild = False
        new_model = copy.copy(self.model)
        new_model.clear_policy()

new_model.clear_policy()  will change the policy   in  self.model, becourse  it's a shallow copy

[2022-10-22 15:54] hsluoyz commented on #273
@leeqvip @Xhy-5000

[2022-11-01 05:11] #273 closed

[2022-11-04 09:10] liutheuniverse opened #278 "fail to use fastapi to make a casbin request"
hello,
 I got an error on "if e.enforce(sub, dom, obj, act)==True:" in the fast API main py script, it says that "RuntimeError: invalid policy size", and my request definition is " r = sub, dom, obj, act", I use pycasbin, what going wrong there
python=="3.9.10"

[2022-11-07 04:51] leeqvip commented on #278
@liutheuniverse  The size of your policy definition and policy storage must be the same.

[2022-11-07 09:54] #278 closed

[2022-11-23 14:48] hsluoyz commented on #237
@zhang-wujun we already have the official Redis watcher for PyCasbin, please use it: https://github.com/pycasbin/redis-watcher

[2022-11-23 14:48] #237 closed

[2022-11-23 14:52] hsluoyz commented on #225
The experiment shows that PyCasbin-on-CPP is not much faster than pure PyCasbin, maybe 5%~10% faster but this is not enough. Pure PyCasbin is much easier to maintain compared to the slightly faster PyCasbin-on-CPP. Closed here for now

[2022-11-23 14:52] #225 closed

[2022-11-23 14:57] hsluoyz opened #280 "Use PyCasbin authorization in Flask-AppBuilder"
PyCasbin can be used in: https://github.com/dpgaspar/Flask-AppBuilder/search?q=auth